<div class="m-card-faq">
    <Picture desktop="../../assets/images/content/cards/faq.jpg" mobile="../../assets/images/content/cards/faq-m.jpg" />
    <div class="m-card-faq__title">
        <span>S</span>ıkça<br>
        <span>S</span>orulan<br>
        <span>S</span>orular
    </div>
    <a href="#">Detaya Git <IconFont icon="arrow-right" /></a>
</div>