<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><include(input.title)/></title>
    <meta name="description" content="">

    <style>
      a { color: #000; }
      .a-btn { color: #fff }
    </style>

    <link rel="stylesheet" type="text/css" media="all" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" type="text/css" media="all" href="../../assets/styles/app.css">
    <include(input.head) />

  </head>
  <body style="padding: 0 !important;">

    <include(input.body)/>

    <script defer src="../../assets/scripts/vendors.js" />
    <script defer src="../../assets/scripts/app.js" />

  </body>
</html>
