.m-newsletter {
  background: $Gallery;
  height: rem(350px);
  padding: rem(65px) rem(57px);
  margin-bottom: rem(30px);

  @media screen and (max-width: 1366px) {
    height: rem(250px);
    padding: rem(35px) rem(37px);
  }

  @media screen and (max-width: 990px) {
    padding: rem(45px) rem(35px);
    height: auto;
    margin-bottom: 0;
  }

  h5 {
    font-size: rem(30px);
    font-weight: 400;
    @media screen and (max-width: 1366px) {
      font-size: rem(28px);
    }
  }

  h4 {
    font-size: rem(40px);
    @media screen and (max-width: 1366px) {
      font-size: rem(34px);
      margin-top: rem(5px);
    }
  }

  .m-form {
    margin-top: rem(70px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1366px) {
      margin-top: rem(40px);
    }

    @media screen and (max-width: 990px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__input {
    position: relative;
    width: calc(100% - 234px);

    @media screen and (max-width: 990px) {
      width: 100%;
    }

    .a-icon {
      position: absolute;
      z-index: 2;
      left: 0;
      top: rem(12px);
    }

    .a-input {
      position: relative;
      z-index: 1;
      input {
        background: $Gallery;
        border-bottom: 1px solid #707070;
        font-size: rem(12px);
        padding: rem(22px);
        padding-left: rem(40px);
        color: $Tuna;

        &::placeholder {
          color: rgba($color: $Tuna, $alpha: 0.5);
        }

        &:focus,
        &:valid {
          &::placeholder {
            opacity: 0;
          }
        }
      }

      i {
        display: none;
      }
    }
  }

  .a-btn {
    @media screen and (max-width: 990px) {
      margin-top: rem(30px);
    }
  }
}
