<div class="m-newsletter" style="background-image: url(../../assets/images/content/footer/newsletter.jpg);">
    <h2><span>yeniliklerden</span>haberiniz olsun!</h2>
    <Form>
        <FormInput type="email" placeholder="E-Mail adresiniz" required />
        <Button type="button" icon="arrow-right">Kaydol</Button>
    </Form>
</div>