<div class="m-newsletter">
    <h5>Gelişmelerden</h5>
    <h4>Haberdar Olun!</h4>
    <Form>
        <div class="m-newsletter__input">
            <IconFont icon="email" />
            <FormInput type="email" placeholder="E-Posta Adresiniz" required />
        </div>
        <Button type="button" icon="arrow-right">Kaydol</Button>
    </Form>
</div>