.m-head {
  position: relative;
  z-index: 2;
  margin-right: rem(-107px);

  picture {
    position: relative;
    z-index: 1;
  }

  img {
    width: 100%;
  }

  .a-breadcrumb {
    position: absolute;
    left: 0;
    top: rem(92px);

    @media screen and (max-width: 990px) {
      position: relative;
      top: auto;
      margin-top: rem(20px);
    }
  }
}
