$ { 
  const items = input.items || ["Ana Sayfa", "Özmen Un"];
  const classes = ["a-breadcrumb"];

  if (input.class) {
    classes.push(input.class);
  }
}

<ul class=classes aria-label="Breadcrumb">
  <for(item in items | status-var=loop)>
    <li if(loop.isLast())>
      <a href="javascript:;" aria-current="page" title="${item}">${item}</a>
    </li>
    <li else>
      <a href="javascript:;" title="${item}">${item}</a>
    </li>
  </for>
</ul>
