ul.a-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  li {
    a {
      position: relative;
      color: #B3B5B4;
      font-size: rem(9px);
      font-weight: 400;
      text-decoration: none;
      flex: 1 1 auto;
      display: flex;
      font-weight: 500;
      align-items: center;
      margin-right: rem(8px);
      line-height: rem(18px);

      &:before {
        position: relative;
        margin-right: rem(8px);
        content: "";
        width: rem(5px);
        height: rem(5px);
        border-radius: 100%;
        background: #B3B5B4;
      }
    }

    &:first-child {
      a {
        &:before {
          display: none;
        }
      }
    }

    &:last-child {
      a {
        font-weight: 600;
      }
    }
  }
}
