.m-btn-group {
  display: flex;
  justify-content: center;

  .a-btn,
  .a-btn-icon {
    margin: 0 rem(8px);

    &:nth-child(1) {
      margin-left: 0;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &--align-left {
    justify-content: flex-start;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--spread {
    .a-btn {
      flex-grow: 1;
    }
  }
}
