$ {
    var classes = ["m-btn-group"];
    var _class = input.class;

    if ( input.position ) {
      classes.push(`m-btn-group--align-${input.position}`);
    }

    if ( input.spread ) {
      classes.push(`m-btn-group--spread`);
    }

    if(_class) {
      classes.push(`${_class}`);
    }
}
<div class=classes><include(input.renderBody)/></div>
