.hero-map {
  width: 100%;
  height: rem(613px);
  border-radius: rem(14px);
  overflow: hidden;
  margin-top: rem(110px);
  position: relative;
  z-index: 3;

  @media screen and (max-width: 990px) {
    height: rem(400px);
  }

  .gm-style {
    &-iw {
      width: rem(253px);
      height: rem(165px);
      padding: rem(19px) !important;

      button {
        top: 0 !important;
        right: 0 !important;
      }

      h1 {
        font-size: rem(16px);
        font-weight: bold;
        line-height: rem(17px);
        color: theme(midnight);
        margin-bottom: rem(15px);
      }

      ul {
        li {
          margin-bottom: rem(8px);
          font-size: rem(12px);
          line-height: rem(17px);
          color: theme(midgray);
          display: flex;
        }

        strong {
          color: theme(midnight);
          min-width: rem(30px);
        }
      }
    }
  }
}
