.a-select {
  position: relative;
  border-radius: 0;

  &:after {
    border: solid $black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    content: "";
    position: absolute;
    right: rem(20px);
    top: rem(30px);
    transform: rotate(45deg);
  }

  select {
    background-color: $white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding: rem(20px);
    padding-left: 0;
    color: #191919;
    font-size: rem(24px);
    font-weight: 400;
    letter-spacing: -0.6px;
    min-height: rem(72px);
    -webkit-appearance: none;
    border-radius: 0;
    line-height: rem(28px);

    @media screen and (max-width: 990px) {
      font-size: rem(18px);
    }

    &[data-dirty="true"],
    &:focus {
      //border-color: $Matisse-a3;
    }

    &:hover {
      //border-color: $Matisse-a3;
    }

    &::placeholder {
      color: $CodGray2;
      font-weight: 400;
    }

    &.parsley-error {
      border-color: $Monza;
      color: $Monza;
    }

    option {
      color: $CodGray2;
    }
  }
}
