$ {
    const classes = ["a-title-icon"];
    const attrs = input.attrs || {};

    if (input.class) {
        classes.push(input.class)
    }
}
<div class=classes ...attrs>
    <Image src=`../../assets/images/content/icons/${input.icon}.svg` />
    <span>${input.title}</span>
</div>