.a-title-icon {
  font-size: rem(16px);
  display: inline-flex;
  align-items: center;
  color: $Green;

  @media screen and (max-width: 768px) {
    font-size: rem(13px);
  }

  span {
    font-weight: 600;
    display: inline-flex;
    line-height: rem(23px);
    margin-left: rem(10px);
  }
}
