.a-title-icon {
  font-size: rem(16px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $black;
  flex-direction: column;
  margin-top: rem(30px);

  @media screen and (max-width: 768px) {
    font-size: rem(12px);
  }

  span {
    font-weight: 600;
    display: inline-flex;
    line-height: rem(40px);
  }
}
