.a-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: rem(6px) 0;

  span,
  a {
    font-size: rem(16px);
    line-height: rem(24px);
    color: $midnight;
    padding-left: rem(40px);
    position: relative;
    font-weight: 500;
    display: block;
    //@extend .icon-check;

      &:after {
        content:"";
        position: absolute;
        height: rem(24px);
        width: rem(24px);
        border: 1px solid $bali;
        top: -3px;
        border-radius: 100%;
        left: 0;
        background-color: $white;
      }

      &:before {
        content: '';
        display: block;
        width: rem(14px);
        height: rem(14px);
        position: absolute;
        background: $tangerine;
        border-radius: 50%;
        top: 3px;
        left: rem(6px);
        display: none;
        z-index: 1;
      }
  }

  &--checked ,
  & input:checked {
    ~ span {
      font-weight: 700;

      &:before {
        display: block;
      }
    }
  }

  &--disabled {
    opacity: .6;
  }
}

