$ const items = input.items || ["Kişisel Verileri Koruma Kanunu", "Gizlilik ve Güvelik Politikası"];

<div class="m-copyright-nav">
    <ul>
        <for(item in items)>
            <li><a href="#">${item}</a></li>
        </for>
    </ul>
</div>