$ const items = input.items || ["SSS", "Gizlilik Güvenlik", "Çerez Politikası"];

<div class="m-copyright-nav">
    <ButtonIcon icon="arrow-up"/>
    <ul>
        <for(item in items)>
            <li><a href="#">${item}</a></li>
        </for>
    </ul>
</div>