<div class="m-filter">
  <div class="m-filter__title">
    <span>Filtreleme</span>
  </div>
	<Form>
		<div class="m-filter__checkbox-list">
			<div>
				<FormCheckbox field="Artizan Francalalık" required parsley />
				<FormCheckbox field="Baklavalık" required parsley />
				<FormCheckbox field="Bazlamalık" required parsley />
				<FormCheckbox field="Böreklik" required parsley />
				<FormCheckbox field="Çeşitlik" required parsley />
				<FormCheckbox field="Ekmeklik" required parsley />
			</div>
			<div>
				<FormCheckbox field="Francalalık" required parsley />
				<FormCheckbox field="İrmik" required parsley />
				<FormCheckbox field="İrmik Altı" required parsley />
				<FormCheckbox field="Kadayıflık" required parsley />
				<FormCheckbox field="Lavaşlık" required parsley />
				<FormCheckbox field="Lokmalık" required parsley />
			</div>
			<div>
				<FormCheckbox field="Lüks Yufkalık" required parsley />
				<FormCheckbox field="Mantılık" required parsley />
				<FormCheckbox field="Makine Yufkalık" required parsley />
				<FormCheckbox field="Pastalık" required parsley />
				<FormCheckbox field="Pidelik" required parsley />
				<FormCheckbox field="Pidelik Ekstra" required parsley />
			</div>
			<div>
				<FormCheckbox field="Pizzalık" required parsley />
				<FormCheckbox field="Ramazan Pidesi" required parsley />
				<FormCheckbox field="Sarı Durum Buğday Unu" required parsley />
				<FormCheckbox field="Tandırlık" required parsley />
				<FormCheckbox field="Tam Buğday Unu" required parsley />
				<FormCheckbox field="Tatlılık" required parsley />
			</div>
			<div>
				<FormCheckbox field="Tulumbalık" required parsley />
				<FormCheckbox field="Tozluk" required parsley />
				<FormCheckbox field="Uğralık" required parsley />
			</div>
		</div>
		<div id="filter-error" />

		<div class="m-filter__button">
			<button>
				<span>Ürünleri Listele</span>
				<IconFont icon="arrow-right" />
			</button>
		</div>
	</Form>
  
</div>
