$ {
    let classes = ["m-logo"];
    const src = input.src || "../../assets/images/svg/logo.svg";

    if (input.class) {
        classes.push(input.class);
    }
}
<div class=classes>
    <a href="#"><SvgImage src=src /></a>
</div>