.m-video {
  h3 {
    letter-spacing: -1.2px;
    font-weight: 600;
    font-size: rem(48px);
    line-height: rem(52px);
    color: $black;

    @media screen and (max-width: 768px) {
      font-size: rem(30px);
      line-height: rem(35px);
    }

    span {
      display: block;
      color: $Green;
    }
  }

  p {
    letter-spacing: -0.45px;
    color: #000000;
    font-size: rem(18px);
    margin-top: rem(20px);
    line-height: rem(28px);

    @media screen and (max-width: 768px) {
      font-size: rem(16px);
      line-height: rem(22px);
     }
  }

  .m-shared-button {
    margin-top: rem(10px);
  }
}
