<div class="o-homepage-slider">
    <Slider options={effect:"fade", navigation: true, pagination: true, autoHeight: true, updateOnWindowResize: true}>
        <@SliderItem>
            <Grid>
            <@GridCol class="col-lg-6 order-2 order-lg-1">
                <h2>Sweden aka the most sustainable country in the world</h2>
                <h6>16 Nisan, 2020</h6>
                <Button icon="arrow-right">Devamını Oku</Button>
            </@GridCol>
            <@GridCol class="col-lg-6 order-1 order-lg-2">
                <Mask type="mask1">
                    <Image class="a-mask__image" src="../../assets/images/dummy/slider-1.jpg" />
                </Mask>
            </@GridCol>
            </Grid>
        </@SliderItem>
        <@SliderItem>
            <Grid>
            <@GridCol class="col-lg-6 order-2 order-lg-1">
                <h2>Sweden aka the most sustainable country in the world 2</h2>
                <h6>16 Nisan, 2020</h6>
                <Button icon="arrow-right">Devamını Oku</Button>
            </@GridCol>
            <@GridCol class="col-lg-6 order-1 order-lg-2">
                <Mask type="mask1">
                    <Image class="a-mask__image" src="../../assets/images/dummy/slider-1.jpg" />
                </Mask>
            </@GridCol>
            </Grid>
        </@SliderItem>
    </Slider>
</div>