<nav class="m-nav">
    <ul>
        <li>
            <span>Kurumsal</span>
            <ul>
                <li><a href="#" class="o-sidebar-nav--sub-active">Hakkımızda</a></li>
                <li><a href="#">İhracat</a></li>
                <li><a href="#">Sosyal Sorumluluk</a></li>
                <li><a href="#">Sürdürülebilirlik</a></li>
            </ul>
        </li>
        <li><a href="#">Hikayemiz</a></li>
        <li>
            <span>Ürünler</span>
            <ul>
                <li><a href="#">Zanaatkarlık Serisi</a></li>
                <li><a href="#">Ustalık Serisi</a></li>
                <li><a href="#">Fırıncılık Serisi</a></li>
                <li><a href="#">Markaya Özel Kişiselleştirilmiş Unlar</a></li>
                <li><a href="#">Ev İçi Tüketim</a></li>
            </ul>
        </li>
        <li>
            <span>Üretim</span>
            <ul>
                <li><a href="#">Endüstri 4.0</a></li>
                <li><a href="#">AR-GE</a></li>
                <li><a href="#">Gıda Güvenliği</a></li>
                <li><a href="#">Kalite Yönetim</a></li>
            </ul>
        </li>
        <li><a href="#">Haberler</a></li>
        <li><a href="#">Tarım Takvimi</a></li>
        <li>
            <span>Kariyer</span>
            <ul>
                <li><a href="#">İK Politikamız</a></li>
                <li><a href="#">İşe Alım Süreci</a></li>
                <li><a href="#">Bize Katılın</a></li>
            </ul>
        </li>
        <li><a href="#">İletişim</a></li>
    </ul>

    <div class="m-nav__bottom">
        <a href="#"><i class="icon-filter"></i>Filtreleme</a>
        <a href="#"><i class="icon-language"></i><span>English</span></a>
    </div>
</nav>