.m-nav {
  display: none;
  position: fixed;
  background: #f7f7f7;
  padding: rem(50px);
  width: 100%;
  height: calc(100% - 80px);
  left: 0;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-150%);
  z-index: -1;

  @media screen and (max-width: 768px) {
    display: flex;
    padding: rem(30px);
  }

  &--open {
    transform: translateY(25px);
    opacity: 1;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
  }

  > ul {
    display: flex;
    height: calc(100% - 100px);
    overflow-y: auto;
    flex-direction: column;
    width: 100%;

    > li {
      > a {
        font-size: rem(24px);
        line-height: rem(42px);
        color: $black;
        font-weight: 600;
      }

      > ul {
        display: none;
        flex-direction: column;
        > li {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          > a {
            font-size: rem(18px);
            font-weight: 600;
            color: $black;
            display: flex;
            width: calc(100% - 40px);
            line-height: rem(45px);
          }

          > ul {
            display: none;
            flex-direction: column;
            > li {
              > a {
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(35px);
                color: $black;
                padding-left: rem(40px);
              }

              &:last-child {
                > a {
                  color: $Green;
                }
              }
            }
          }
        }
      }
    }
  }

  &--dropdown {
    &-child {
      &:before {
        width: rem(20px);
        content: "+";
        display: inline-flex;
        position: relative;
        font-weight: 600;
        transition: all 0.5s ease;
        margin-left: rem(20px);
      }

      &-open {
        > a {
          color: $Green !important;
        }
        &:before {
          content: "-";
        }

        > ul {
          display: flex !important;
        }
      }
    }

    &-open {
      > a {
        color: $Green !important;
      }
      > ul {
        display: flex !important;
      }
    }
  }

  &--active {
    color: $Green !important;
  }

  &__language {
    position: absolute;
    bottom: rem(90px);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      transition: all 0.5s ease;

      &:hover {
        color: $Green;
      }

      span {
        font-size: rem(10px);
        font-weight: 600;
        margin-left: rem(10px);
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: rem(50px);

    ul {
      font-size: rem(11px);
      letter-spacing: -0.45px;
      font-weight: 400;
      line-height: rem(30px);
      display: flex;

      li {
        margin-right: rem(10px);
      }

      a {
        color: $black;
        transition: all 0.5s ease;

        &:hover {
          color: $Green;
        }
      }
    }
  }
}
