<include('../../templates/Homepage/Homepage.marko')>
  <@title>Form Input</@title>
  <@body>

    <section id="formInput" style="margin-bottom: 0;">
      <div style="padding: 10px;">
        <h1 style="color: #000000; text-align: center;">Form Input</h1>

        <FormInput placeholder="Test" required />
      </div>
    </section>

  </@body>
</include>
