<include('../../templates/Homepage/Homepage.marko')>
  <@title>Form Input</@title>
  <@body>

    <section id="Hamburger" style="margin-top: 100px; background: #177797; height: 500px">
      <div style="padding: 10px;">
        <h1 style="color: #000000; text-align: center;">Hamburger</h1>

        <Hamburger />
      </div>
    </section>

  </@body>
</include>
