<include('../../templates/Homepage/Homepage.marko')>
  <@title>Video</@title>
  <@body>

    <section id="formInput" style="margin-bottom: 0;">
      <div style="padding: 10px;">
        <h1 style="color: #000000; text-align: center;">Video</h1>

        <Video />
      </div>
    </section>

  </@body>
</include>
