.p-about {
  padding-bottom: rem(100px);
  .row {
    align-items: stretch;
  }

	&__content {
		margin-top: rem(50px);
		padding-right: rem(114px);

		h1 {
			font-size: rem(50px);
			line-height: rem(78px);
			margin-bottom: rem(20px);
		}

		h2 {
			color: #95A585;
			font-size: rem(30px);
			line-height: rem(34px);
			margin-bottom: rem(20px);
		}

		p, pre {
			font-size: rem(19px);
			line-height: rem(34px);
			font-weight: 300;
		}

		p {
			margin-bottom: rem(20px);
		}

		img {
			width: 100%;
			border-radius: rem(10px);
		}
	}
}
