.p-content {
  padding-bottom: rem(100px);

  @media screen and (max-width: 480px) {
    padding-bottom: 0;
  }
  .row {
    align-items: stretch;
  }

  &__container {
    margin-top: rem(50px);

    @media screen and (max-width: 768px) {
      padding-right: 0;
    }

    h1 {
      font-size: rem(50px);
      line-height: rem(78px);
      margin-bottom: rem(20px);

      @media screen and (max-width: 1440px) {
        font-size: rem(44px);
        line-height: rem(66px);
      }

      @media screen and (max-width: 990px) {
        font-size: rem(40px);
        margin-bottom: rem(10px);
        line-height: rem(60px);
      }

      @media screen and (max-width: 768px) {
        font-size: rem(30px);
        line-height: rem(42px);
        margin-bottom: 0;
      }
    }

    h2 {
      color: #95a585;
      font-size: rem(30px);
      line-height: rem(34px);
      margin-bottom: rem(10px);
      @media screen and (max-width: 1440px) {
        font-size: rem(26px);
      }
      @media screen and (max-width: 768px) {
        font-size: rem(24px);
      }
    }

    p,
    pre {
      font-size: rem(19px);
      line-height: rem(34px);
      font-weight: 300;

      @media screen and (max-width: 1440px) {
        font-size: rem(17px);
        line-height: rem(30px);
      }

      @media screen and (max-width: 768px) {
        font-size: rem(16px);
        font-weight: 500;
      }
    }

    p {
      margin-bottom: rem(20px);
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15px);

    @media screen and (max-width: 480px) {
      padding-bottom: rem(60px);
    }

    > a {
      width: calc((100% / 3) - 30px);
      margin: rem(15px);
      display: block;
      padding-top: 15%;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding-top: 56.25%;
      }

      > img {
        border-radius: rem(10px);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        z-index: 1;
      }

      &:before {
        @extend %icon-plus;
        position: absolute;
        left: 50%;
        bottom: 50%;
        z-index: 3;
        font-family: $iconFontName;
        color: $white;
        margin-left: rem(-20px);
        margin-bottom: rem(-20px);
        font-size: rem(40px);
        opacity: 0;
      }

      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba($color: #000000, $alpha: 0.4);
        left: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s ease;
        border-radius: rem(10px);
      }

      &:hover {
        box-shadow: 0 0 0;
        &:before {
          animation-name: fadeInDown;
          animation-duration: 0.5s;
          animation-fill-mode: both;
        }

        &:after {
          opacity: 1;
        }
      }

      &:first-child {
        width: 100%;
        padding-top: 50%;

        @media screen and (max-width: 768px) {
          padding-top: 56.25%;
        }
      }
    }
  }

  .m-select-nav {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    @media screen and (max-width: 990px) {
      display: flex;
    }
  }
}
