.p-contact {
  background: $Tuna;
  padding-top: rem(320px);
  padding-bottom: rem(112px);
  position: relative;

  @media screen and (max-width: 990px) {
    padding-top: rem(100px);
  }

  @media screen and (max-width: 480px) {
    padding-bottom: rem(22px);
  }

  &__image {
    position: absolute;
    right: rem(-150px);
    top: 0;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      width: 90%;
    }

    @media screen and (max-width: 1024px) {
      right: rem(-220px);
      top: rem(200px);
    }

    @media screen and (max-width: 990px) {
      position: relative;
      right: auto;
      top: 0;
    }

    @media screen and (max-width: 768px) {
      margin-left: rem(80px);
    }

    @media screen and (max-width: 480px) {
      margin-left: rem(-20px);
      width: 130%;
    }
  }

  &__lax {
    position: absolute;
    z-index: 1;

    &--1 {
      right: 0;
      top: rem(-150px);

      @media screen and (max-width: 1024px) {
        width: rem(247px);
        top: rem(50px);
      }

      @media screen and (max-width: 768px) {
        width: rem(150px);
        top: rem(80px);
        right: rem(-60px);
      }
    }

    &--2 {
      left: 40%;
      top: rem(180px);

      @media screen and (max-width: 1024px) {
        width: rem(247px);
        left: rem(-50px);
        top: rem(100px);
      }

      @media screen and (max-width: 768px) {
        width: rem(147px);
        left: rem(-20px);
      }
    }

    &--3 {
      left: rem(-550px);
      bottom: 0;
    }
  }

  &__content {
    width: 33%;
    @media screen and (max-width: 990px) {
      width: 100%;
    }
    h1 {
      font-size: rem(50px);
      line-height: rem(78px);
      color: $white;
      margin-bottom: rem(55px);
      @media screen and (max-width: 768px) {
        margin-top: rem(30px);
        font-size: rem(40px);
        margin-bottom: rem(30px);
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(80px);
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-bottom {
    &__infos {
      display: flex;
      align-items: center;
      color: $white;

      @media screen and (max-width: 1280px) {
        flex-wrap: wrap;
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-right: rem(60px);

        @media screen and (max-width: 1440px) {
          margin-right: rem(50px);
        }

        @media screen and (max-width: 1366px) {
          margin-right: rem(40px);
        }

        @media screen and (max-width: 768px) {
          flex-direction: row;
          width: 100%;
        }
      }

      a {
        color: $white;
        font-size: rem(18px);
        line-height: rem(30px);
        font-weight: 300;
        margin-top: rem(20px);

        @media screen and (max-width: 1440px) {
          font-size: rem(15px);
        }

        @media screen and (max-width: 768px) {
          margin-top: 0;
          margin-left: rem(20px);
          font-size: rem(18px);
        }
      }
    }

    &__button {
      @media screen and (max-width: 1280px) {
        margin-top: rem(60px);
      }
      a  {
        border: 1px solid $white !important;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: rem(30px);
        a {
          width: 100%;
        }
      }
    }
  }

  &-address {
    padding: rem(130px) 0;
    background: $white;

    @media screen and (max-width: 768px) {
      padding: rem(60px) 0;
    }
  }

  &-form {
    padding-right: rem(120px);
    @media screen and (max-width: 1024px) {
      padding-right: 0;
    }
  }
}
