.p-faq {
  padding: rem(234px) 0 rem(100px);
  position: relative;


  @media screen and (max-width: 1024px) {
    padding: rem(34px) 0 rem(60px);
  }

  h1 {
    font-size: rem(50px);
    line-height: rem(78px);
    color: $Tuna;

    @media screen and (max-width: 1024px) {
      font-size: rem(30px);
      line-height: rem(36px);
      margin-top: rem(20px);
    }

    span {
      color: $Sage;
    }
  }

  .m-accordion {
    margin-top: rem(50px);

    @media screen and (max-width: 1024px) {
      margin-top: rem(30px);
    }
  }

  .a-breadcrumb {
    position: absolute;
    top: rem(92px);
    left: rem(495px);

    @media screen and (max-width: 1024px) {
      position: relative;
      top: auto;
      left: auto;
    }
  }
}
