.p-history {
  background: linear-gradient(
    180deg,
    rgba(53, 55, 60, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: rem(234px) 0 rem(100px);
  position: relative;

  @media screen and (max-width: 768px) {
    padding: rem(34px) 0 rem(60px);

    .container {
      max-width: initial;
    }
  }

  &__lax {
    position: absolute;
    z-index: 1;

    &--1 {
      right: 0;
      top: rem(-250px);

      @media screen and (max-width: 1440px) {
        width: rem(250px);
      }

			@media screen and (max-width: 768px) {
				top: rem(-50px);
				width: rem(150px);
				right: rem(-50px);
			}
    }

    &--2 {
      right: rem(-600px);
      top: rem(180px);

      @media screen and (max-width: 1440px) {
        width: rem(700px);
        right: rem(-500px);
      }

      @media screen and (max-width: 768px) {
        width: rem(300px);
        right: rem(-220px);
      }
    }

    &--3 {
      left: rem(-250px);
      top: rem(-50px);

      @media screen and (max-width: 1440px) {
        width: rem(550px);
      }

			@media screen and (max-width: 768px) {
        width: rem(300px);
        left: rem(-160px);
				top: rem(-200px)
      }
    }

    &--4 {
      left: rem(250px);
      top: rem(100px);

      @media screen and (max-width: 1280px) {
        left: rem(150px);
        top: rem(10px);
      }

			@media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--5 {
      right: rem(70px);
      bottom: 0;
			@media screen and (max-width: 768px) {
        right: rem(-130px);
      }
    }

    &--6 {
      right: 0;
      bottom: 0;
			@media screen and (max-width: 768px) {
        right: rem(-50px);
      }
    }

    &--7 {
      left: rem(100px);
      bottom: rem(-100px);

      @media screen and (max-width: 1440px) {
        width: rem(250px);
        left: rem(50px);
      }
			@media screen and (max-width: 768px) {
        left: rem(-50px);
				width: rem(200px);
				bottom: rem(-70px)
      }
    }

    &--8 {
      left: rem(-200px);
      top: rem(0px);
			@media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--9 {
      right: rem(100px);
      bottom: rem(-100px);

      @media screen and (max-width: 1440px) {
        right: rem(10px);
      }

			@media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--10 {
      right: rem(-500px);
      top: 50%;

      @media screen and (max-width: 1440px) {
        width: rem(750px);
        right: rem(-400px);
      }

			@media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &-block {
    &-1 {
      background-repeat: no-repeat;
      background-position: center center;
      height: 90vh;

      @media screen and (max-width: 768px) {
        background-image: none !important;
        height: auto;
        padding: rem(100px) 0;
      }

      &__title {
        position: absolute;
        left: rem(200px);
        top: 0;
        z-index: 2;

        @media screen and (max-width: 1440px) {
          left: rem(107px);
        }

        @media screen and (max-width: 1024px) {
          left: rem(30px);
        }

        @media screen and (max-width: 768px) {
          left: auto;
          position: relative;
        }

        h3 {
          color: #ddb480;
          font-size: rem(46px);
          font-weight: 600;
          line-height: rem(56px);
          @media screen and (max-width: 1440px) {
            font-size: rem(42px);
            line-height: rem(50px);
          }
          @media screen and (max-width: 1024px) {
            font-size: rem(32px);
            line-height: rem(40px);
          }
          @media screen and (max-width: 768px) {
            font-size: rem(16px);
            line-height: rem(19px);
          }
        }
        h2 {
          color: $white;
          font-size: rem(144px);
          font-weight: 600;
          @media screen and (max-width: 1440px) {
            font-size: rem(124px);
          }
          @media screen and (max-width: 1024px) {
            font-size: rem(94px);
            width: 90%;
          }
          @media screen and (max-width: 1024px) {
            font-size: rem(48px);
            line-height: rem(50px);
            width: 90%;
          }
        }
      }

      &__img {
        position: relative;
        z-index: 1;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      &__line {
        position: absolute;
        top: rem(-150px);
        right: rem(140px);

        @media screen and (max-width: 768px) {
          top: rem(100px);
          right: rem(-100px);
					width: rem(300px);
        }

        img {
          max-width: 100%;
        }
      }
    }

    &-2 {
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;

      @media screen and (max-width: 768px) {
        background-image: none !important;
        height: auto;
        padding-bottom: rem(200px);
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      &__title {
        h2 {
          color: #ddb480;
          font-size: rem(55px);
          font-weight: 600;
          text-align: center;
          margin-bottom: rem(40px);

          @media screen and (max-width: 768px) {
            font-size: rem(30px);
            text-align: left;
          }
        }

        p {
          font-size: rem(28px);
          line-height: rem(38px);
          font-weight: 300;
          color: $white;
          text-align: center;
          margin-top: rem(20px);

          @media screen and (max-width: 768px) {
            font-size: rem(17px);
            line-height: rem(24px);
            text-align: left;
          }
        }
      }

      &__line {
        position: absolute;
        top: 50%;
        left: rem(-50px);

				@media screen and (max-width: 768px) {
					display: none;
				}

      }
    }

    &-3 {
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;

      @media screen and (max-width: 768px) {
        background-image: none !important;
        height: auto;
        padding: rem(100px) 0 rem(50px);
      }

      .container-fluid {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }

      &__title {
        position: absolute;
        left: rem(200px);
        top: 50%;
        margin-top: rem(-250px);
        z-index: 2;

        @media screen and (max-width: 1440px) {
          left: rem(117px);
        }

        @media screen and (max-width: 1024px) {
          left: rem(30px);
        }
        @media screen and (max-width: 768px) {
          left: auto;
          position: relative;
          top: auto;
          margin-top: 0;
        }

        h2 {
          color: #ddb480;
          font-weight: 600;
          font-size: rem(140px);

          @media screen and (max-width: 1440px) {
            font-size: rem(124px);
          }
          @media screen and (max-width: 1280px) {
            font-size: rem(100px);
          }

          @media screen and (max-width: 768px) {
            font-size: rem(60px);
          }
        }
        h3 {
          font-size: rem(46px);
          color: $white;
          font-weight: 600;

          @media screen and (max-width: 768px) {
            font-size: rem(21px);
          }
        }
      }

      &__img {
        position: relative;
        z-index: 1;
        text-align: right;
        right: rem(-50px);

        @media screen and (max-width: 1440px) {
          right: rem(-100px);
        }
        @media screen and (max-width: 768px) {
          right: 0;
          margin-top: rem(20px);
        }

        img {
          max-width: 100%;
        }
      }

      &__line {
        position: absolute;
        bottom: rem(-300px);
        left: rem(0px);

				@media screen and (max-width: 768px) {
					bottom: auto;
					top: rem(-100px);
				}
      }
    }

    &-4 {
      height: 80vh;

      @media screen and (max-width: 768px) {
        height: auto;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }

      &__title {
        h2 {
          color: $white;
          font-size: rem(46px);
          line-height: rem(56px);
          font-weight: 600;
          text-align: center;
          margin-top: rem(50px);
          margin-bottom: rem(40px);

          @media screen and (max-width: 768px) {
            font-size: rem(26px);
            line-height: rem(31px);
            text-align: left;
            margin-top: rem(30px);
            margin-bottom: rem(20px);
          }
        }

        p {
          font-size: rem(28px);
          line-height: rem(38px);
          font-weight: 300;
          color: $white;
          text-align: center;

          @media screen and (max-width: 768px) {
            font-size: rem(17px);
            line-height: rem(24px);
            text-align: left;
          }
        }
      }

      &__line {
        position: absolute;
        bottom: rem(-200px);
        right: 0;

				@media screen and (max-width: 768px) {
					display: none;
				}
      }
    }

    &-5 {
      &__title {
        position: absolute;
        right: rem(200px);
        top: rem(300px);
        z-index: 2;

        @media screen and (max-width: 1440px) {
          right: rem(80px);
        }

        @media screen and (max-width: 1024px) {
          right: rem(30px);
          top: rem(200px);
        }

        @media screen and (max-width: 768px) {
          right: auto;
          top: auto;
          position: relative;
        }

        h2 {
          color: #ddb480;
          font-size: rem(144px);
          font-weight: 600;

          @media screen and (max-width: 1440px) {
            font-size: rem(124px);
          }

          @media screen and (max-width: 1024px) {
            font-size: rem(94px);
          }

          @media screen and (max-width: 768px) {
            font-size: rem(59px);
          }

          span {
            color: $Tuna;
          }
        }
      }

      &__img {
        position: relative;
        z-index: 1;
        left: rem(-300px);
        margin-top: rem(50px);

        @media screen and (max-width: 1024px) {
          left: rem(-200px);
        }

        @media screen and (max-width: 768px) {
          left: auto;
          transform: scaleX(-1);
          right: rem(-150px);
        }

        img {
          max-width: 100%;

          @media screen and (max-width: 768px) {
            max-width: none;
            width: 150%;
          }
        }
      }

      &__line {
        position: absolute;
        top: rem(650px);
        right: rem(-400px);

				@media screen and (max-width: 768px) {
					display: none;
				}
      }
    }

    &-6 {
      height: 100vh;
      @media screen and (max-width: 768px) {
        height: auto;
        padding-top: rem(40px);
      }

      &__title {
        p {
          font-size: rem(28px);
          line-height: rem(38px);
          font-weight: 300;
          color: $Tuna;
          text-align: center;

          @media screen and (max-width: 768px) {
            font-size: rem(17px);
            line-height: rem(24px);
            text-align: left;
          }

          & + p {
            font-size: rem(44px);
            line-height: rem(56px);
            font-weight: 600;
            margin-top: rem(40px);

            @media screen and (max-width: 768px) {
              font-size: rem(23px);
              line-height: rem(31px);
            }
          }
        }
      }

      &__img {
        text-align: right;
        position: relative;
        right: rem(-117px);
        margin-top: 50px;

        @media screen and (max-width: 768px) {
          right: rem(-35px);
        }

        img {
          max-width: 100%;
        }
      }
    }

    &-7 {
      background-repeat: no-repeat;
      background-position: left bottom;
      height: 120vh;

      @media screen and (max-width: 1024px) {
        margin-top: rem(140px);
      }

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }

      &__title {
        h2 {
          color: $Tuna;
          font-size: rem(94px);
          font-weight: 600;
          line-height: rem(114px);

          @media screen and (max-width: 1440px) {
            font-size: rem(84px);
            line-height: rem(104px);
          }

          @media screen and (max-width: 1024px) {
            font-size: rem(64px);
            line-height: rem(84px);
          }

          @media screen and (max-width: 768px) {
            font-size: rem(30px);
            line-height: rem(36px);
          }

          span {
            color: #ddb480;
          }
        }

        p {
          font-size: rem(28px);
          font-weight: 300;
          line-height: rem(38px);
          margin-top: rem(20px);
          width: 80%;

          @media screen and (max-width: 1280px) {
            width: 90%;
          }

          @media screen and (max-width: 1024px) {
            width: 100%;
            font-size: rem(22px);
            line-height: rem(32px);
          }

          @media screen and (max-width: 768px) {
            font-size: rem(17px);
            line-height: rem(24px);
          }
        }
      }

      &__img {
        position: relative;
        z-index: 1;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      &__line {
        position: absolute;
        top: rem(-150px);
        right: rem(140px);
				@media screen and (max-width: 768px) {
					display: none;
				}
      }
    }
  }
}
