.p-history {
  background: #f7f3eb;
  padding: rem(234px) 0 rem(100px);
  position: relative;

  @media screen and (max-width: 1024px) {
    padding: rem(34px) 0 0;

    .container {
      max-width: initial;
    }
  }

  &__lax {
    position: absolute;
    z-index: 3;

    &--1 {
      right: rem(-500px);
      top: rem(-200px);
      animation-name: fadeInRight;
      animation-duration: 0.5s;
      animation-fill-mode: both;

      @media screen and (max-width: 1680px) {
        width: rem(750px);
      }

      @media screen and (max-width: 1024px) {
        width: rem(400px);
        right: rem(-200px);
        top: rem(-50px);
      }

      @media screen and (max-width: 768px) {
        top: rem(-50px);
        width: rem(150px);
        right: rem(-50px);
      }

      @media screen and (max-width: 640px) {
        top: 0;
      }

      @media screen and (max-width: 340px) {
        right: rem(-70px);
      }
    }

    &--2 {
      right: rem(100px);
      bottom: rem(-200px);

      @media screen and (max-width: 1680px) {
        width: rem(400px);
        bottom: rem(-100px);
      }

      @media screen and (max-width: 1440px) {
        width: rem(300px);
      }

      @media screen and (max-width: 1024px) {
        width: rem(200px);
        right: rem(50px);
        bottom: 0;
      }

      @media screen and (max-width: 768px) {
        width: rem(300px);
        right: rem(-220px);
      }

      @media screen and (max-width: 640px) {
        width: rem(100px);
        right: rem(30px);
      }

      @media screen and (max-width: 340px) {
        width: rem(70px);
        right: rem(10px);
        bottom: rem(10px);
      }
    }

    &--3 {
      right: rem(50px);
      top: calc(100% - 250px);

      @media screen and (max-width: 1440px) {
        width: rem(500px);
        right: rem(40px);
        top: calc(100% - 200px);
      }

      @media screen and (max-width: 1280px) {
        width: rem(440px);
        right: rem(30px);
        top: calc(100% - 160px);
      }

      @media screen and (max-width: 1024px) {
        width: rem(320px);
        right: rem(20px);
        top: calc(100% - 120px);
      }

      @media screen and (max-width: 640px) {
        width: rem(150px);
        right: rem(0px);
        top: calc(100% - 80px);
      }
      @media screen and (max-width: 340px) {
        width: rem(120px);
        right: rem(-10px);
        top: calc(100% - 40px);
      }
    }

    &--4 {
      left: rem(50px);
      top: calc(100% - 250px);

      @media screen and (max-width: 1680px) {
        width: rem(1000px);
      }

      @media screen and (max-width: 1280px) {
        width: rem(900px);
      }

      @media screen and (max-width: 1024px) {
        width: rem(700px);
        top: calc(100% - 150px);
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        top: calc(100% - 100px);
      }
    }

    &--5 {
      left: rem(240px);
      top: calc(100% - 100px);
      @media screen and (max-width: 1440px) {
        top: calc(100% - 150px);
      }

      @media screen and (max-width: 1024px) {
        top: calc(100% - 100px);
        width: rem(200px);
        left: rem(200px);
      }

      @media screen and (max-width: 640px) {
        width: rem(100px);
        left: rem(90px);
      }
    }

    &--6 {
      left: rem(50px);
      top: calc(100% - 50px);
      @media screen and (max-width: 1440px) {
        top: calc(100% - 100px);
      }
      @media screen and (max-width: 1024px) {
        top: calc(100% - 50px);
        width: rem(200px);
      }
      @media screen and (max-width: 640px) {
        width: rem(100px);
        left: rem(20px);
      }
    }

    &--7 {
      left: 60%;
      top: calc(100% - 200px);

      @media screen and (max-width: 1440px) {
        width: rem(420px);
      }
      @media screen and (max-width: 1024px) {
        width: rem(350px);
        top: calc(100% - 150px);
      }
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }

  &-block {
    &-1 {
      background-repeat: no-repeat;
      background-position: center center;
      height: calc(100vh - 234px);

      @media screen and (max-width: 1024px) {
        height: auto;
      }

      &__title {
        position: absolute;
        left: rem(107px);
        top: 0;
        z-index: 2;

        @media screen and (max-width: 1024px) {
          left: rem(30px);
        }

        @media screen and (max-width: 768px) {
          left: auto;
          position: relative;
        }

        h3 {
          color: #ddb480;
          font-size: rem(46px);
          font-weight: 100;
          line-height: rem(55px);
          @media screen and (max-width: 1680px) {
            font-size: rem(44px);
            line-height: rem(52px);
          }
          @media screen and (max-width: 1440px) {
            font-size: rem(40px);
            line-height: rem(44px);
          }
          @media screen and (max-width: 1280px) {
            font-size: rem(36px);
            line-height: rem(42px);
          }
          @media screen and (max-width: 1024px) {
            font-size: rem(32px);
            line-height: rem(40px);
          }
          @media screen and (max-width: 640px) {
            font-size: rem(16px);
            line-height: rem(20px);
          }
        }
        h2 {
          color: #ddb480;
          font-size: rem(166px);
          font-weight: 700;
          margin-left: rem(-10px);
          @media screen and (max-width: 1680px) {
            font-size: rem(140px);
          }
          @media screen and (max-width: 1440px) {
            font-size: rem(118px);
            margin-left: rem(-5px);
          }
          @media screen and (max-width: 1280px) {
            font-size: rem(104px);
          }
          @media screen and (max-width: 1024px) {
            font-size: rem(90px);
          }
          @media screen and (max-width: 640px) {
            font-size: rem(48px);
          }
          @media screen and (max-width: 340px) {
            font-size: rem(42px);
          }
        }
      }

      &__img {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;

        img {
          max-width: 100%;
          max-height: 100vh;
        }

        @media screen and (max-width: 1024px) {
          position: relative;
        }
      }
    }

    &-text {
      position: relative;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: rem(100px) 0;

      @media screen and (max-width: 1440px) {
        min-height: 90vh;
      }

      @media screen and (max-width: 1024px) {
        min-height: auto;
      }

      @media screen and (max-width: 640px) {
        padding: rem(60px) 0;
      }

      h2 {
        font-size: rem(70px);
        line-height: rem(84px);
        color: #ddb480;
        margin-bottom: rem(50px);

        @media screen and (max-width: 1680px) {
          font-size: rem(64px);
          line-height: rem(72px);
          margin-bottom: rem(40px);
        }

        @media screen and (max-width: 1440px) {
          font-size: rem(60px);
          line-height: rem(68px);
          margin-bottom: rem(35px);
        }

        @media screen and (max-width: 1280px) {
          font-size: rem(50px);
          line-height: rem(56px);
          margin-bottom: rem(30px);
        }

        @media screen and (max-width: 1024px) {
          font-size: rem(46px);
          line-height: rem(50px);
        }
        @media screen and (max-width: 768px) {
          font-size: rem(38px);
          line-height: rem(44px);
        }
        @media screen and (max-width: 640px) {
          font-size: rem(32px);
          line-height: rem(36px);
        }
        @media screen and (max-width: 340px) {
          font-size: rem(28px);
          line-height: rem(32px);
        }
      }

      h3 {
        font-size: rem(50px);
        line-height: rem(60px);
        color: #ddb480;
        margin-bottom: rem(20px);

        @media screen and (max-width: 1680px) {
          font-size: rem(46px);
          line-height: rem(54px);
        }
        @media screen and (max-width: 1440px) {
          font-size: rem(42px);
          line-height: rem(48px);
        }

        @media screen and (max-width: 1280px) {
          font-size: rem(38px);
          line-height: rem(42px);
        }
        @media screen and (max-width: 1024px) {
          font-size: rem(34px);
          line-height: rem(38px);
        }
        @media screen and (max-width: 768px) {
          font-size: rem(26px);
          line-height: rem(32px);
        }

        @media screen and (max-width: 640px) {
          font-size: rem(22px);
          line-height: rem(28px);
        }
        @media screen and (max-width: 340px) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }

      p,
      h6 {
        color: $black;
        font-size: rem(32px);
        line-height: rem(44px);
        margin-bottom: rem(50px);
        font-weight: 300;

        @media screen and (max-width: 1680px) {
          font-size: rem(28px);
          line-height: rem(40px);
          margin-bottom: rem(40px);
        }

        @media screen and (max-width: 1440px) {
          font-size: rem(23px);
          line-height: rem(34px);
          margin-bottom: rem(35px);
        }

        @media screen and (max-width: 1280px) {
          font-size: rem(21px);
          line-height: rem(30px);
          margin-bottom: rem(20px);
        }
        @media screen and (max-width: 768px) {
          font-size: rem(17px);
          line-height: rem(24px);
        }
        @media screen and (max-width: 640px) {
          font-size: rem(16px);
          line-height: rem(22px);
        }

        strong {
          color: #ddb480;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      h6 {
        color: #ddb480;
        font-weight: 600;
      }
    }

    &__img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
