.p-homepage {
  &-seed {
    position: relative;
    background: #F8F3EB;
    background-image: linear-gradient(137deg, #f8f3eb 0%, #f8f3eb00 100%);
    padding: rem(134px) 0;
    content-visibility: auto;
    margin-top: 100vh;
    z-index: 2;

    @supports (-webkit-touch-callout: none) {
      margin-top: calc(100vh - 100px);
    }

    .container-fluid {
      position: relative;
      z-index: 2;
      img {
        width: 100%;
      }

      .row {
        align-items: center;
      }
    }

    h1 {
      font-size: rem(60px);
      color: $Tuna;
      font-weight: 600;
      line-height: rem(84px);
      @media screen and (max-width: 1440px) {
        font-size: rem(50px);
      }

      @media screen and (max-width: 1366px) {
        font-size: rem(40px);
        line-height: rem(60px);
      }

      @media screen and (max-width: 768px) {
        font-size: rem(30px);
        line-height: rem(52px);
      }
      span {
        color: $Tumbleweed;
        font-size: rem(120px);
        display: block;

        @media screen and (max-width: 1440px) {
          font-size: rem(100px);
        }

        @media screen and (max-width: 1366px) {
          font-size: rem(80px);
        }

        @media screen and (max-width: 768px) {
          font-size: rem(74px);
        }
        @media screen and (max-width: 480px) {
          font-size: rem(62px);
        }
      }
    }

    p {
      font-size: rem(20px);
      margin-top: rem(50px);
      font-weight: 300;
      line-height: rem(36px);

      @media screen and (max-width: 1366px) {
        font-size: rem(18px);
        line-height: rem(30px);
      }

      @media screen and (max-width: 768px) {
        font-size: rem(17px);
        line-height: rem(24px);
        font-weight: 400;
        margin-top: rem(40px);
      }

      @media screen and (max-width: 480px) {
        font-size: rem(16px);
      }
    }

    .a-btn {
      margin-top: rem(50px);
      position: relative;
      z-index: 3;
    }

    &__lax {
      position: absolute;
      z-index: 1;

      &--1 {
        left: 0;
        top: rem(5px);
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      &--2 {
        left: rem(210px);
        top: rem(30px);

        @media screen and (max-width: 768px) {
          left: 0;
          width: rem(180px);
        }
      }
      &--3 {
        right: rem(257px);
        top: rem(107px);

        @media screen and (max-width: 1440px) {
          top: rem(37px);
        }

        @media screen and (max-width: 768px) {
          right: 0;
          width: rem(130px);
        }
      }
      &--4 {
        right: rem(-300px);
        top: rem(50px);

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      &--5 {
        right: rem(-100px);
        bottom: 0;

        @media screen and (max-width: 768px) {
          width: rem(350px);
        }
      }
    }
  }

  &-collection {
    padding: rem(175px) 0;
    background-size: cover;
    content-visibility: auto;
    z-index: 2;
    position: relative;

    @media screen and (max-width: 1024px) {
      padding: rem(100px) 0;
    }

    h2 {
      color: $Tumbleweed;
      font-size: rem(63px);
      line-height: rem(70px);
      margin-bottom: rem(16px);

      @media screen and (max-width: 1440px) {
        font-size: rem(54px);
        line-height: rem(58px);
        margin-bottom: rem(10px);
      }

      @media screen and (max-width: 1366px) {
        font-size: rem(48px);
        line-height: rem(52px);
      }

      @media screen and (max-width: 1280px) {
        font-size: rem(46px);
        line-height: rem(50px);
      }

      @media screen and (max-width: 768px) {
        font-size: rem(40px);
      }
    }

    p {
      color: $white;
      font-size: rem(16px);
      font-weight: 300;
      width: 75%;
      line-height: rem(26px);

      @media screen and (max-width: 1440px) {
        width: 100%;
        line-height: rem(26px);
      }

      @media screen and (max-width: 768px) {
        font-weight: 400;
      }
    }

    .m-card-collection {
      margin-bottom: rem(30px);

      @media screen and (max-width: 990px) {
        margin-bottom: 0;
        margin-top: rem(30px);
      }
    }

    .col-xl-4 {
      &:first-child {
        @media screen and (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  &-slider {
    background-size: cover;
    position: relative;
    overflow: hidden;
    content-visibility: auto;
    z-index: 2;
    background-color: #e3e5e3;
  }
}
