.p-quality {
  &__certificate {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15px);

    > a {
      width: calc((100% / 4) - 30px);
      margin: rem(15px);
      display: block;

      @media screen and (max-width: 768px) {
        width: calc((100% / 2) - 30px);
      }

      > img {
        width: 100%;
      }
    }
  }
}
