$ {
  var type = input.type || "a";
  var classes = ["a-icon-link"];
  var attrs = input.attrs || {};
  var _class = input.class;
  const href = input.href || "#";

  if ( input.icon ) {
    classes.push(`icon-${input.icon}`);
  }

  if(_class) {
    classes.push(`${_class}`)
  }

  if ( input.linkType ) {
    classes.push(`a-icon-link--${input.linkType}`);
  }
}

<${type} href=href class=classes ...attrs><include(input.renderBody)/></${type}>