$ {
    const title = input.title;
    const items = input.items;
}
<div class="m-left-nav" data-component="LeftNav">
    <h2>${title}</h2>
    <ul>
        <for(item in items)>
            <if (!item.isActive)>
                <li><a href=item.value>${item.text}</a></li>
            </if>

            <else>
                <li><a href=item.value class="m-left-nav--active">${item.text}</a></li>
            </else>
        </for>
    </ul>

    <FormSelect placeholder="Seçin" items=items />
</div>