.m-left-nav {
  position: sticky;
  top: rem(250px);
  @media screen and (max-width: 1024px) {
    top: rem(166px);
  }
  @media screen and (max-width: 990px) {
    display: none;
  }

  h2 {
    font-size: rem(26px);
    line-height: rem(49px);
  }

  ul {
    margin-top: rem(20px);
    font-size: rem(16px);
    line-height: rem(45px);

    li {
      position: relative;

      a {
        color: $Tuna;
        transition: all 0.5s ease;

        &:before {
          background: #95a585;
          content: "";
          width: rem(80px);
          height: 1px;
          position: absolute;
          left: -100%;
          top: rem(24px);
          transition: all 0.5s ease;
        }

        &:hover {
          font-weight: 600;
          &:before {
            left: rem(-107px);
          }
        }
      }
    }
  }

  &--active {
    font-weight: 600;

    &:before {
      left: rem(-107px) !important;
    }
  }
}
