<div class="m-right-nav">
    <h4>Kategoriler</h4>
    <a href="#"><span>Etkinlikler</span><span>(5)</span></a>
    <a href="#"><span>Genel</span><span>(5)</span></a>
    <a href="#"><span>Fuarlar</span><span>(5)</span></a>
    <a href="#"><span>Yemek Sanatı</span><span>(5)</span></a>
    <a href="#"><span>Tarım</span><span>(5)</span></a>
</div>