$ {
  const options = input || {};
  const tabOptions = input.tabOptions || {};
  tabOptions.type = "TabDefault";

  let classes = ["m-tab-default"];
  const paneClasses = ["m-tab-default__pane"];
  const itemClasses = ["m-tab-default__items"];

  if ( input.icon ) {
    classes.push("m-tab--icon");
  }
}

<div class=classes data-component=tabOptions>
  <div class=itemClasses role="tablist">
    <div class="m-tab-default__items--desc" for(tabIndex, tab in input.tabs) >
      <a href="${tab.href}" title="${tab.label}" role="tab" data-coord=tab.coord data-id=tab.dataId>
        <i if(tab.icon) class="a-icon icon-${tab.icon}"></i>
        <if(!tab.img)>${tab.label} <bdi if(tab.countTitle)> (<sub>${tab.countTitle}</sub> Ürün)</bdi></if>
        <span if(tab.count)>(${tab.count})</span>
        <img src="${tab.img}" alt="${tab.label}" if(tab.img)/>
      </a>
    </div>
  </div>
  <div class="m-tab-default__panes">
    <div for(tabIndex, tab in input.tabs) class=paneClasses role="tabpanel">
      <include(tab.renderBody)/>
    </div>
  </div>
</div>
