.o-services {
  padding-left: rem(160px);

  @media screen and (max-width: 990px) {
    padding: rem(35px) 0;
  }

  .row {
    align-items: center;
  }

  h2 {
    font-size: rem(60px);
    line-height: rem(72px);
    margin: 0;
    font-weight: 600;
    span {
      color: $Tumbleweed;
    }

    @media screen and (max-width: 1440px) {
      font-size: rem(54px);
      line-height: rem(66px);
    }

    @media screen and (max-width: 1366px) {
      font-size: rem(50px);
      line-height: rem(60px);
    }
    @media screen and (max-width: 1280px) {
      font-size: rem(46px);
      line-height: rem(50px);
    }

    @media screen and (max-width: 1024px) {
      font-size: rem(36px);
      line-height: rem(44px);
    }
  }

  p {
    font-size: rem(18px);
    line-height: rem(26px);
    font-weight: 300;
    margin-top: rem(34px);
    @media screen and (max-width: 1366px) {
      margin-top: rem(20px);
    }
    @media screen and (max-width: 1024px) {
      font-size: rem(16px);
      line-height: rem(22px);
    }
  }

  &__text {
    .swiper {
      &-slide {
        width: 100% !important;
        padding: 0 rem(35px);
      }
    }
  }

  &__image {
    @media screen and (max-width: 990px) {
      margin-top: rem(50px);
    }

    .swiper {
      &-container {
        height: rem(1000px);

        @media screen and (max-width: 1440px) {
          height: rem(900px);
        }

        @media screen and (max-width: 1280px) {
          height: rem(800px) !important;
        }

        @media screen and (max-width: 990px) {
          height: auto !important;
        }
      }
      &-wrapper {
        padding-left: rem(50px);

        @media screen and (max-width: 990px) {
          padding-left: 0;
        }
      }
      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 990px) {
          width: 80%;
          height: 100%;
          padding-bottom: rem(100px);
        }

        &-prev {
          @media screen and (max-width: 990px) {
            justify-content: flex-end;
          }
        }

        &-next {
          @media screen and (max-width: 990px) {
            justify-content: flex-start;
          }
        }

        img {
          max-width: 100%;
          height: rem(350px);
          object-fit: cover;
          border-radius: rem(10px);
          transition: all 0.5s ease;

          @media screen and (max-width: 1024px) {
            height: rem(250px);
          }

          @media screen and (max-width: 990px) {
            height: 300px !important;
          }
        }

        &-active {
          img {
            height: rem(700px) !important;
            box-shadow: 0px rem(50px) rem(50px)
              rgba($color: $black, $alpha: 0.29);
            border-radius: rem(10px) 0px 0px rem(10px);

            @media screen and (max-width: 1440px) {
              height: rem(600px) !important;
            }

            @media screen and (max-width: 1280px) {
              height: rem(500px) !important;
            }

            @media screen and (max-width: 990px) {
              height: auto !important;
              border-radius: rem(10px) !important;
            }
          }
        }
      }

      &-pagination {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: rem(10px);

        @media screen and (max-width: 990px) {
          flex-direction: row;
          margin: 0 rem(20px);
        }

        &-bullet {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $Tuna;
          font-size: rem(14px);
          font-weight: 600;
          width: rem(62px);
          height: rem(62px);
          background: transparent;
          border: 1px solid transparent;

          &-active {
            border-color: $Tumbleweed;
          }
        }
      }
    }
  }

  .m-slider {
    &__prev,
    &__next {
      left: auto;
      bottom: auto;
      top: auto;
      position: relative;
      &:after {
        font-family: $iconFontName !important;
        color: $Tuna;
        font-size: rem(20px);
        z-index: 3;
      }

      &:before {
        display: none;
      }
    }

    &__prev {
      &:after {
        @extend %icon-arrow-down;
        transform: rotate(180deg);
        @media screen and (max-width: 990px) {
          transform: rotate(90deg);
        }
      }
    }

    &__next {
      &:after {
        @extend %icon-arrow-down;
        @media screen and (max-width: 990px) {
          transform: rotate(-90deg);
        }
      }
    }

    &__control {
      position: absolute;
      left: -85%;
      display: flex;
      flex-direction: column;
      top: 50%;
      transform: translate(0, -50%);

      @media screen and (max-width: 990px) {
        position: relative;
        flex-direction: row;
        top: auto;
        transform: translate(0, 0);
        left: auto;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: rem(-20px);
        margin-bottom: rem(50px);
      }
    }
  }
}
