$ {
    const url = input.url || "https://www.shutterstock.com/search/natural+pills";
    const title = input.title || "Cras ut felis vitae felis mollis luctus."
}
<a href="javascript:;" class="m-search-card">
    <h2>${title}</h2>
    <h6>${url}</h6>
    <i class="icon-circle-arrow"></i>
</a>