$ {
    const classes = ["m-card"];

    if (input.date) {
        classes.push("m-card--news")
    }
}
<a href="#" class=classes>
    <div class="m-card__head">
        <div class="m-card-head__image">
            <Image src="https://ozmenun.com/uploads/recipes/ciabatta-ekmegi-78j3gr.jpg" />
        </div>
    </div>
    <div class="m-card__body">
        <h6>Portakallı Krep Tarifi</h6>

        <div class="m-card__date" if(input.date)>
            <span><IconFont icon="calendar" />2 Ekim 2019</span>
            <span>Fuarlar</span>
        </div>
    </div>
    <div class="m-card__foot">
        <span>Detaya Git</span>
        <IconFont icon="arrow-right" />
    </div>
</a>