$ const abouts = [{ title: "Ticemlabs"}, { title: "Kalite Politikamız" }, { title: "Gizlilik Politikamız", isActive: true }, { title: "Hizmet Prosedürümüz" }, { title: "Akreditasyon ve İş Birlikleri" }];
$ const services = [ { title: "Deney Kapsamına Göre Deneyler", child: [{ title: "Akustik Testler" }, { title: "Isıl Iletkenlik Tayini", isActive: true }, { title: "Çevresel Etkililere Dayanıklılık Testleri" }, { title: "Tarihi Malzemelerin Karakterizasyonu" }, { title: "Yapısal Sistem Deneyleri" }, { title: "Sahada Yapılan Deneyler" }, { title: "Tarihi Yapıların Mekanik Deneyleri" }, { title: "Mekanik Deneyler" }, { title: "Fiziksel Deneyler" }, { title: "Sistem Deneyleri" }]}, { title: "Ürün Gruplarına Göre Deneyler", child: [{ title: "Beton Deneyleri" }, { title: "Dübel Deneyleri" }, { title: "Cephe Deneyleri" }, { title: "Makrosentetik ve Çelik Lif Deneyleri" }, { title: "Rögar Kapagı Deneyleri" }, { title: "Hazır Sıva ve Harç Deneyleri" }, { title: "Yükseltilmis Döseme Deneyleri" }, { title: "Sandviç Panel Deneyleri" }, { title: "Sismik Izolatör Deneyleri" }, { title: "Geçici Is Ekipmanları Deneyleri" }]}];

<div class="m-header-dropdown">
    <div class="container-fluid">
        <div class="m-header-dropdown__item m-header-dropdown__item--about">
            <Grid>
                <@GridCol class="col-lg-6">
                    <h4>Kurumsal</h4>
                    <ul>
                        <for(about in abouts)>
                            <li><a href="#" class=(about.isActive ? "m-header-dropdown__item--active": "")>${about.title}</a></li>
                        </for>
                    </ul>
                </@GridCol>
                <@GridCol class="col-lg-6 text-center">
                    <Image src="../../assets/images/content/header/about.png" />
                </@GridCol>
            </Grid>
        </div>
        <div class="m-header-dropdown__item m-header-dropdown__item--service">
            <Grid>
                <for(service in services)>
                    <@GridCol class="col-lg-4">
                        <h3><a href="#">${service.title}</a></h3>
                        <ul>
                            <for(child in service.child)>
                                <li><a href="#" class=(child.isActive ? "m-header-dropdown__item--active": "")>${child.title}</a></li>
                            </for>
                        </ul>
                    </@GridCol>
                </for>
                <@GridCol class="col-lg-4"><Image src="../../assets/images/content/header/services.png" /></@GridCol>
            </Grid>
        </div>
    </div>
</div>