.m-carousel {
  position: fixed;
  list-style: none;
  padding: 0;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    right: rem(205px);
    bottom: rem(50px);

    @media screen and (max-width: 1024px) {
      right: rem(35px);
    }

    span {
      font-size: rem(17px);
      color: $white;
    }

    .a-icon {
      width: rem(44px);
      height: rem(44px);
      border: 1px solid $white;
      background: rgba($color: $white, $alpha: 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border-radius: 100%;
      margin-left: rem(20px);

      &:before {
        font-size: rem(12px);
      }
    }
  }

  .swiper {
    &-wrapper {
      height: auto;
    }
    &-lazy {
      opacity: 0;
      transition: opacity 150ms ease;
      will-change: opacity;

      &-loaded {
        opacity: 1;
      }
    }
    &-pagination {
      bottom: rem(58px);
      left: rem(107px);
      width: auto;
      text-align: left;
      z-index: 99;
      position: absolute;

      @media screen and (max-width: 1024px) {
        left: rem(35px);
      }

      &-bullet {
        width: rem(20px);
        height: rem(20px);
        background: transparent;
        outline: 0;
        margin: 0;
        cursor: pointer;
        border: 1px solid transparent;
        opacity: 1;
        margin-right: rem(20px);
        transition: all 0.5s ease;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -3px;
          margin-top: -3px;
          background: rgba($color: $white, $alpha: 0.15);
          width: rem(6px);
          height: rem(6px);
          border-radius: 100%;
        }

        &:focus {
          outline: 0;
        }

        &-active,
        &:hover {
          border-color: $white;

          &:before {
            background: $white;
          }
        }
      }
    }
  }
}
