$ {
  const classes = ["m-carousel"];
  const strokeWidth = input.strokeWidth || 6;
  let {bulletsOptions, ...options} = input;

  if (input.fullscreen) {
    classes.push('m-carousel--fullscreen');
  }
}

<section class=classes data-component="Carousel">
  <Slider options={effect:"fade", navigation: false, pagination: true, autoplay: { delay: 4000 }, watchOverflow: true, preloadImages: false, lazy: {loadPrevNext: false, loadOnTransitionStart: true }}>
    <@SliderItem>
      <Picture swiper desktop="../../assets/images/content/carousel/carousel-1.jpg" mobile="../../assets/images/content/carousel/carousel-1-m.jpg" />
      <a href="#" class="m-carousel__button">
        <span>Detaylı Bilgi</span>
        <IconFont icon="arrow-right" />
      </a>
    </@SliderItem>
    <@SliderItem>
      <Picture swiper desktop="../../assets/images/content/carousel/carousel-2.jpg" mobile="../../assets/images/content/carousel/carousel-1-m.jpg" />
      <a href="#" class="m-carousel__button">
        <span>Detaylı Bilgi</span>
        <IconFont icon="arrow-right" />
      </a>
    </@SliderItem>
    <@SliderItem>
      <Picture swiper desktop="../../assets/images/content/carousel/carousel-3.jpg" mobile="../../assets/images/content/carousel/carousel-1-m.jpg" />
      <a href="#" class="m-carousel__button">
        <span>Detaylı Bilgi</span>
        <IconFont icon="arrow-right" />
      </a>
    </@SliderItem>
  </Slider>
</section>
