.m-carousel {
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    right: rem(200px);
    bottom: rem(100px);

    @media screen and (max-width: 1024px) {
      right: rem(142px);
    }

    @media screen and (max-width: 768px) {
      right: rem(35px);
    }

    span {
      font-size: rem(17px);
      color: $white;
    }

    .a-icon {
      width: rem(90px);
      height: rem(90px);
      border: 1px solid $white;
      background: rgba($color: $white, $alpha: 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border-radius: 100%;
      margin-left: rem(20px);

      @media screen and (max-width: 768px) {
        width: rem(72px);
        height: rem(72px);
      }

      &:before {
        font-size: rem(18px);
      }
    }
  }

  .m-slider {
    &__prev,
    &__next {
      width: rem(97px);
      height: rem(60px);
      background-color: rgba($color: $white, $alpha: 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      margin-top: rem(-30px);
      border-radius: rem(30px);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &__prev {
      left: rem(107px);
      @media screen and (max-width: 1024px) {
        left: rem(35px);
      }
      &::before {
        @extend %icon-arrow-left;
      }
    }
    &__next {
      right: rem(204px);
      @media screen and (max-width: 1024px) {
        right: rem(142px);
      }
      &::before {
        @extend %icon-arrow-right;
      }
    }
  }

  .swiper {
    &-wrapper {
      height: auto;
    }
    &-lazy {
      opacity: 0;
      transition: opacity 150ms ease;
      will-change: opacity;

      &-loaded {
        opacity: 1;
      }
    }
    &-pagination {
      bottom: rem(122px);
      left: rem(107px);
      width: auto;
      text-align: left;
      z-index: 99;
      position: absolute;

      @media screen and (max-width: 768px) {
        left: rem(35px);
      }

      &-bullet {
        width: rem(40px);
        height: rem(40px);
        background: transparent;
        outline: 0;
        margin: 0;
        cursor: pointer;
        border: 1px solid transparent;
        opacity: 1;
        margin-right: rem(20px);
        transition: all 0.5s ease;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -5px;
          margin-top: -5px;
          background: rgba($color: $white, $alpha: 0.15);
          width: rem(10px);
          height: rem(10px);
          border-radius: 100%;
        }

        &:focus {
          outline: 0;
        }

        &-active,
        &:hover {
          border-color: $white;

          &:before {
            background: $white;
          }
        }
      }
    }
  }
}
