$ {
    let classes = ["m-social-media"];
    const items = input.items || ["instagram", "twitter", "facebook", "linkedin"];
    const title = input.title;

    if (input.class) {
        classes.push(input.class);
    }
}
<div class=classes>
    <for(item in items)>
        <ButtonIcon icon=item attrs={"rel":"noreferrer", "target":"_blank"} />
    </for>
</div>