.m-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .a-btn-icon {
    color: $Tuna;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 rem(5px);
    transition: all 0.5s ease;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      background: rgba($color: $Tuna, $alpha: .3);
      width: 1px;
      height: rem(16px);
      right: rem(-35px);
      @media screen and (max-width: 1440px) {
        right: rem(-45px);
      }
    }

    i {
      &:before {
        font-size: rem(18px);
      }
    }

    &:hover {
      color: $Tuna;
    }

    &:last-child {
      margin-right: 0;

      &:after{
        display: none;
      }
    }
  }
}
