.m-footer-nav {
  display: flex;

  &__block {
    width: 22%;

    &:last-child {
      width: 12%;
      ul {
        line-height: rem(32px);
      }
    }
  }

  h3 {
    font-size: rem(12px);
    color: $Tuna;
    font-weight: 600;
    margin: 0;
    padding: 0;

    & + ul {
      margin-top: rem(10px);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: rem(12px);
    line-height: rem(30px);
    margin-top: rem(-13px);

    @media screen and (max-width: 1366px) {
      font-size: rem(14px);
      line-height: rem(32px);
    }

    a {
      color: rgba($color: $Tuna, $alpha: 0.5);
      transition: all 0.5s ease;

      &:hover {
        color: $black;
      }
    }
  }
}
