<div class="m-calendar-content">
    <div class="m-calendar-content__head">
        <h2>${input.title}</h2>
        <Image src=`../../assets/images/content/icons/${input.icon}.svg` />
    </div>
    <div class="m-calendar-content__body">
        <ul>
            <li>Bazı bölgelerde havalar uygun olursa toprak sürümleri devam eder. Sürüm aletleri temizlenerek muhafaza edilir.</li>
            <li>Sıcak bölgelerde uygun havalarda hububat ekimi yapılır. Ekim aletleri temizlenerek muhafaza edilir.</li>
            <li>Loğlama yapılır ve gür tarlalarda hayvanlara filizler yedirilir.</li>
            <li>Tohum ve ambar zararlıları ile mücadele yapılır. Ambarlar dezenfekte edilir.</li>
            <li>Soğan, pancar, turp, havuç sökümü bitirilir. Pamuklar çırçırlanır. Çeltik öğütülür. Mahsuller ambarlanır. Muhafaza edilir ve değerlendirilir.</li>
        </ul>
    </div>
</div>