$ {
    const classes = ["a-icon"];
    const icon = input.icon;

    if (icon) {
        classes.push(`icon-${input.icon}`)
    }

    if (input.class) {
        classes.push(input.class)
    }
}
<i class=classes />