<div class="a-progressbar" data-component="Progressbar">
    <div class="a-progressbar__text">
        <h6>${input.percent}</h6>
        <span>${input.title}</span>
    </div>

    <div class="a-progressbar__bar">
        <span data-percent=input.percent />
    </div>
</div>