<div class="a-progressbar">
    <div class="a-progressbar__text">
        <h6>${input.percent}</h6>
        <span>${input.title}</span>
    </div>

    <div class="a-progressbar__bar">
        <span style=`width: ${input.percent}` />
    </div>
</div>