.o-header {
  position: absolute;
  top: 0;
  z-index: 100;

  @media screen and (max-width: 1024px) {
    height: rem(90px);
    width: 100%;
    position: fixed;
  }

  .m-logo {
    margin-top: rem(55px);

    @media screen and (max-width: 1024px) {
      margin-top: rem(20px);
    }
  }

  .a-btn-icon {
    display: none;

    @media screen and (max-width: 1024px) {
      display: inline-flex;
      border-left: 1px solid #eaeaea;
      position: absolute;
      top: rem(16px);
      right: rem(80px);
      width: rem(80px);
      height: rem(60px);
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }

  .a-hamburger {
    display: none;

    @media screen and (max-width: 1024px) {
      display: inline-flex;
      position: absolute;
      right: 0;
      border-left: 1px solid #eaeaea;
      top: rem(16px);
      width: rem(80px);
      height: rem(60px);

      span {
        &:nth-child(1) {
          top: rem(20px);
        }
        &:nth-child(2) {
          top: rem(29px);
        }
        &:nth-child(3) {
          top: rem(29px);
        }
        &:nth-child(4) {
          top: rem(38px);
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    background: $white;
    border-bottom: 1px solid rgba($color: $Tuna, $alpha: 0.2);
    .m-logo {
      i {
        transition: all 0.5s ease;
        color: $Green;
      }
    }
    .a-btn-icon {
      transition: all 0.5s ease;
      color: $Tuna;
      border-color: rgba($color: $Tuna, $alpha: 0.2);
    }

    .a-hamburger {
      border-color: rgba($color: $Tuna, $alpha: 0.2);
      span {
        transition: all 0.5s ease;
        background: $Tuna;
      }
    }

    &--transparent {
      background: transparent;
      border-bottom: 1px solid rgba($color: #eaeaea, $alpha: 0.2);

      .m-logo {
        i {
          transition: all 0.5s ease;
          color: $white;
        }
      }
      .a-btn-icon {
        transition: all 0.5s ease;
        color: $white;
        border-left: 1px solid #eaeaea;
      }

      .a-hamburger {
        border-left: 1px solid #eaeaea;
        span {
          transition: all 0.5s ease;
          background: $white;
        }
      }
    }
  }

  &--transparent {
    &.o-header--opened {
      background: $white;
      border-bottom: 1px solid rgba($color: $Tuna, $alpha: 0.2);
      .m-logo {
        i {
          transition: all 0.5s ease;
          color: $Green;
        }
      }
      .a-btn-icon {
        transition: all 0.5s ease;
        color: $Tuna;
        border-color: rgba($color: $Tuna, $alpha: 0.2);
      }

      .a-hamburger {
        border-color: rgba($color: $Tuna, $alpha: 0.2);
        span {
          transition: all 0.5s ease;
          background: $Tuna;
        }
      }
    }
  }

  &--white {
    .m-logo {
      i {
        transition: all 0.5s ease;
        color: $white;
      }
    }
  }
}
