.a-btn {
  min-width: rem(140px);
  line-height: rem(20px);
  background-color: $Tumbleweed;
  padding: rem(20px) rem(30px);
  color: $white;
  text-decoration: none;
  font-size: rem(16px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  //overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: rem(35px);
  appearance: none;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: $Tuna;
    transition: all 0.5s ease;
    border-radius: rem(35px);
    right: 0;
  }

  span {
    position: relative;
    z-index: 2;
  }

  @media screen and (min-width: 1024px) {
    &:hover {
      background: $Tumbleweed;
    }
  }

  &--white {
    background: $Tuna !important;
    color: $white;
    border: 1px solid #d6d6d6;

    span {
      color: $Tuna;
    }
    @media screen and (min-width: 1024px) {
      &:hover {
        border: 1px solid transparent;
        background: $Tuna;

        span {
          color: $white;
        }
      }
    }

    &:after {
      background: $white;
    }

    &:before {
      color: $Tuna;
    }
  }

  &--black {
    background: $mineshaft;
    color: $white;
  }

  &--red {
    background: $Monza;
    color: $white;

    &:hover {
      background: $Monza2;
    }
  }

  &--with-icon {
    text-align: left;
    padding: rem(20px) rem(85px) rem(20px) rem(30px);
    position: relative;
    justify-content: flex-start;
    background-color: $Tumbleweed;
    color: $white;
    transition: all 0.5s ease;

    @media screen and (max-width: 380px) {
      font-size: rem(14px);
    }

    @media screen and (max-width: 340px) {
      padding-left: rem(20px);
      font-size: rem(11px);
    }

    &::before {
      font-family: $iconFontName;
      font-size: rem(12px);
      position: absolute;
      right: rem(21px);
      transition: all 0.5s ease;
      z-index: 2;
      font-weight: 500;
    }

    &--start {
      padding: 0 rem(20px) 0 rem(56px);

      &::before {
        left: rem(18px);
        right: auto;
      }
    }

    @media screen and (min-width: 1024px) {
      &:hover {
        transition: all 0.5s ease;
        &:after {
          right: 0;
          width: rem(60px);
          transition: all 0.5s ease;
        }
      }
    }
  }

  &--secondary {
    background-color: $Matisse;
    color: $white;
    padding: rem(16px) rem(60px);
    font-size: rem(17px);
    line-height: 1;
  }

  &--big {
    min-width: rem(332px);
    font-size: rem(15px);
    padding: rem(18px) rem(60px);
    line-height: 1;
  }

  &--full {
    width: 100%;
    display: block;
    text-align: center;

    &.a-btn--with-icon {
      text-align: left;
    }
  }

  &:active,
  &:focus,
  &:visited {
    outline: 0;
  }

  &:disabled,
  &--disabled {
    background-color: $solitude;
    color: $bali;
    border-color: $solitude;
    cursor: default;

    &:hover {
      background-color: $solitude;
      color: $bali;
      border-color: $solitude;
      cursor: default;
    }
  }

  &--loading {
    position: relative;
    &:before {
      width: rem(50px);
      height: rem(50px);
      content: "";
      position: absolute;
      left: rem(20px);
      background: url(../images/loading.svg) center center no-repeat;
      background-size: contain;
    }
  }
}
