<picture>
    <source media="(max-width: 768px)" srcset=input.mobile>
    <source media="(min-width: 769px)" srcset=input.desktop>
    <img class="swiper-lazy" if(input.swiper) data-src=input.desktop>
    <Image src=input.desktop else />
</picture>