<div class="a-hamburger" data-component="Hamburger">
    <div class="a-hamburger__bar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="a-hamburger__text">MENÜ</div>
</div>