<div class="m-pagination">
    <ButtonIcon circle icon="arrow"></ButtonIcon>
    <ul>
        <li><a href="#">1</a></li>
        <li><a href="#" class="m-pagination--active">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
    <ButtonIcon circle icon="arrow"></ButtonIcon>
</div>