.m-card-collection {
  position: relative;
  display: block;
  border-radius: rem(12px);
  overflow: hidden;
  &__image {
    position: relative;
    z-index: 1;

    img {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    z-index: 3;
    left: rem(34px);
    bottom: rem(34px);

    h3 {
      font-size: rem(24px);
      color: $Tumbleweed;
      transition: all 0.5s ease;

      @media screen and (max-width: 1366px) {
        font-size: rem(20px);
      }
    }

    img {
      opacity: 1;
      transition: all 0.5s ease;
      position: absolute;
      bottom: rem(70px);

      @media screen and (max-width: 1366px) {
        bottom: rem(60px);
      }
    }
  }

  &:after {
    position: absolute;
    content: "";
    z-index: 2;
    width: 0;
    height: 100%;
    will-change: transform;
    transition: all 0.5s ease;
    background: linear-gradient(123deg, #dcb383 0%, #956e40 100%);
    left: 0;
    top: 0;
  }

  .a-icon {
    left: -100%;
    bottom: rem(40px);
    position: absolute;
    color: $white;
    font-size: rem(30px);
    z-index: 3;
    will-change: auto;
    transition: all 0.5s ease;

    &:before {
      font-size: rem(12px);
    }
  }

  &:hover {
    &:after {
      width: 100%;
    }

    .m-card-collection__title {
      h3 {
        color: $white;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }

    .a-icon {
      left: 100%;
      margin-left: rem(-50px);
    }
  }
}
