$ {
    const img = input.img || "zanaatkarlik";
    const title = input.title || "Zanaatkarlık<br>Serisi"
}
<a href="#" class="m-card-collection">
    <div class="m-card-collection__image">
        <Image src=`../../assets/images/dummy/collection/${img}.jpg` />
    </div>
    <div class="m-card-collection__title">
        <Image src=`../../assets/images/svg/${img}.svg` />
        <Image src=`../../assets/images/svg/${img}-white.svg` />
        <h3>$!{title}</h3>
    </div>
    <IconFont icon="arrow-right" />
</a>