<div class="m-card-calendar">
    <div class="m-card-calendar__body">
        <span>${input.count}</span>
        <Image src=`../../assets/images/content/icons/${input.icon}.svg` />
        <h3>${input.title}<br>Tarım Takvimi</h3>
    </div>
    <a href="#" class="m-card-calendar__foot">
        <span>Detaya Git</span>
        <IconFont icon="arrow-right" />
    </a>
</div>