<include('../../templates/Homepage/Homepage.marko')>
  <@title>Copyright</@title>
  <@body>

    <section id="Copyright" style="margin-bottom: 0;">
      <div style="padding: 10px;">
        <h1 style="color: #000000; text-align: center;">Copyright</h1>

        <Copyright />
      </div>
    </section>

  </@body>
</include>
