<include('../../templates/Homepage/Homepage.marko')>
  <@title>Card</@title>
  <@body>

    <section id="Card" style="padding-top: 250px">
      <div class="container-fluid">
        <h1 style="color: #000000; text-align: center;">Card</h1>
        <Card />
      </div>
    </section>
  </@body>
</include>
