<include('../../templates/Homepage/Homepage.marko')>
  <@title>Footer Nav</@title>
  <@body>

    <section id="card-info" style="padding: 50px 0;">
      <h1 style="color: #000000; text-align: center;">Copyright Nav</h1>
      <CopyrightNav />
    </section>

  </@body>
</include>
