<include('../../templates/Homepage/Homepage.marko')>
  <@title>Logos</@title>
  <@body>

    <Grid>
      <@GridCol class="col-lg-6"><Logo /></@GridCol>
      <@GridCol class="col-lg-6"><Logo /></@GridCol>
    </Grid>
  </@body>
</include>
