<include('../../templates/Homepage/Homepage.marko')>
  <@head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0j9nCjIHtFaiyAbzX0HfOipfPQNbXm8c"></script>
  </@head>  
  <@title>Map</@title>
  <@body>

    <section id="Card" style="background: linear-gradient(90deg, #177797 49.2%, #1D3A78 100%); padding: 50px 0;">
      <h1 style="color: #000000; text-align: center;">Map</h1>
      <Map data-lat='41.0315644' data-lng='28.9735063'/>
    </section>
  </@body>
</include>
