<include('../../templates/Homepage/Homepage.marko')>
  <@title>NavList</@title>
  <@body>

    <section id="card-info" style="background: linear-gradient(90deg, #177797 49.2%, #1D3A78 100%); padding: 50px 0;">
      <h1 style="color: #000000; text-align: center;">NavList</h1>
      <NavList />
      <NavList icon="download"/>
    </section>

  </@body>
</include>
