<include('../../templates/Homepage/Homepage.marko')>
  <@title>Pagination</@title>
  <@body>

    <section id="Card" style="padding: 40px">
      <h1 style="color: #000000; text-align: center; margin-bottom: 20px">Pagination</h1>
      <Pagination />
    </section>
  </@body>
</include>
