<include('../../templates/Homepage/Homepage.marko')>
  <@title>SearchCard</@title>
  <@body>

    <section id="card-info" style="padding: 350px 0;">
      <h1 style="color: #000000; text-align: center;">SearchCard</h1>
      <div class="container-fluid">
        <SearchBar />
      </div>
    </section>

  </@body>
</include>
