.m-shared-button {
  &__title {
    color: $Tuna;
    font-size: rem(16px);
    line-height: rem(23px);
    font-weight: 600;
  }

  &__list {
    margin-top: rem(17px);
    .a-btn-icon {
      width: rem(50px);
      height: rem(50px);
      background: transparent;
      border-radius: 100%;
      margin-right: rem(12px);
      color: $Tuna;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border:1px solid $Tuna;

      &:hover {
        color: $Green;
        border-color: $Tuna;
      }
    }
  }
}
