.a-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: rem(6px) 0;

  span {
    font-size: rem(13px);
    line-height: rem(19px);
    color: $Tuna;
    padding-left: rem(30px);
    position: relative;
    font-weight: 500;
    display: block;
    @extend .icon-check;

    &:before {
      position: absolute;
      font-family: $iconFontName !important;
      color: $Tuna;
      font-size: rem(20px);
      font-weight: bold;
      display: none;
      z-index: 1;
      top: 2px;
      left: 1px;

      @media screen and (max-width: 768px) {
        top: -1px
      }

    }

    &:after {
      content: "";
      position: absolute;
      height: rem(22px);
      width: rem(22px);
      top: 0;
      left: 0;
      background-color: #F0F0F0;
      border-radius: 4px;
    }

    b {
      font-size: rem(14px);
      line-height: rem(19px);
      color: $Tuna;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &--checked,
  & input:checked {
    ~ span {

      &:before {
        display: block;
        color: $white;
      }

      &:after {
        background-color: $Tuna;
      }
    }
  }

  &--disabled {
    opacity: 0.6;
  }

  &.parsley-error {
    span {
      &:after {
        border: 1px solid $Monza;
      }
    }
  }
}
