.a-youtube {
    border-radius: rem(5px);
    overflow: hidden;
    display: flex;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
  
    iframe {
      width: 100% !important;
      height: 100% !important; 
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  