.o-sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 9999;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__main {
    position: relative;
    z-index: 3;
    height: 100%;
    width: rem(107px);
    background: rgba($color: $white, $alpha: 0.3);
    border-left: 1px solid transparent;

    @supports (
      (-webkit-backdrop-filter: blur(107px)) or (backdrop-filter: blur(107px))
    ) {
      background: transparent;
      backdrop-filter: blur(107px);
    }
  }

  &-main {
    &__nav {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 36px);
        height: rem(80px);
        border-bottom: 1px solid rgba($color: $Tuna, $alpha: 0.3);

        &:first-child {
          height: rem(154px);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: $Tuna;
          transition: all 0.5s ease;

          &:hover {
            color: $Green;
          }

          span {
            font-size: rem(14px);
            margin-top: rem(10px);
          }
        }
      }
    }
  }

  &__nav {
    position: absolute;
    width: rem(582px);
    height: 100vh;
    background: $white;
    top: 0;
    z-index: 2;
    transition: all 0.5s ease;
    transform: translateX(100%);
    transition-delay: 0.2s;
    display: block;

    @media screen and (max-width: 1280px) {
      width: rem(500px);
    }

    @media screen and (max-width: 1100px) {
      width: calc((100vw - 107px) / 2);
    }

    nav {
      overflow-y: auto;
      max-height: calc(100vh - 200px);
      padding: rem(117px) rem(100px) rem(20px);

      @media screen and (max-width: 1440px) {
        max-height: calc(100vh - 180px);
        padding-top: rem(87px);
      }

      @media screen and (max-width: 1280px) {
        padding: rem(87px) rem(80px) rem(20px);
      }

      @media screen and (max-width: 1100px) {
        max-height: calc(100vh - 100px);
        padding: rem(50px) rem(50px) rem(20px);
      }

      ul {
        font-size: rem(26px);
        font-weight: 600;

        li {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          position: relative;
          line-height: rem(50px);
          cursor: pointer;
          color: $Tuna;

          a {
            color: $Tuna;
          }

          span {
            display: flex;

            &:after {
              width: rem(30px);
              content: "+";
              display: inline-flex;
              position: absolute;
              font-weight: normal;
              transition: all 0.5s ease;
              margin-top: 0;
              right: 0;
            }
          }

          &:hover {
            > a {
              color: $Tuna;
            }

            &:after {
              color: $Tuna;
            }
          }
        }

        a {
          color: $Tuna;
          padding: rem(8px) 0;
          display: flex;
          width: calc(100% - 50px);
          transition: all 0.5s ease;
        }

        ul {
          font-size: rem(20px);
          font-weight: 300;
          width: 100%;
          display: none;
          flex-direction: column;

          @media screen and (max-width: 1280px) {
            font-size: rem(17px);
          }

          li {
            line-height: rem(34px);
            a {
              color: rgba($color: $Tuna, $alpha: 0.6);
            }
            span {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }

    &--active {
      color: $Tuna !important;
      > a {
        color: $Tuna !important;
      }

      span {
        &:after {
          color: $Tuna !important;
          content: "-" !important;
        }
      }

      ul {
        display: flex !important;
      }
    }
  }

  &-nav {
    &--sub-active {
      color: $Tuna !important;
    }

    &__bottom {
      background: $DesertStorm;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 rem(100px);
      height: rem(184px);
      display: flex;
      align-items: center;

      @media screen and (max-width: 1280px) {
        padding: 0 rem(80px);
      }

      @media screen and (max-width: 1100px) {
        height: rem(130px);
        padding: 0 rem(50px);
      }

      ul {
        font-size: rem(14px);
        font-weight: 300;

        li {
          margin-bottom: rem(20px);

          &:last-child {
            margin: 0;
          }
        }

        a {
          color: $Tuna;
          transition: all 0.5s ease;

          &:hover {
            color: $Green;
          }
        }
      }
    }
  }

  &__product {
    position: absolute;
    width: rem(570px);
    height: 100vh;
    background: $DesertStorm;
    top: 0;
    right: rem(689px);
    padding: rem(120px) rem(100px);
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 0.5s ease;
    transform: translateX(300%);

    @media screen and (max-width: 1440px) {
      padding: rem(86px) rem(100px);
    }

    @media screen and (max-width: 1280px) {
      width: rem(500px);
      right: rem(607px);
      padding: rem(86px) rem(80px);
    }

    @media screen and (max-width: 1100px) {
      width: calc((100vw - 107px) / 2);
      padding: rem(50px) rem(50px);
      right: calc((100vw / 2) + 53px);
    }

    h3 {
      font-size: rem(26px);
      font-weight: 600;
      margin-bottom: rem(30px);
      margin-top: rem(15px);
    }

    > ul {
      margin: 0;
      padding: 0;
      font-size: rem(20px);
      font-weight: 400;

      a {
        line-height: rem(60px);
        color: $Tuna;

        @media screen and (max-width: 1440px) {
          line-height: rem(50px);
        }
      }
    }
  }

  &-product {
    &__nav-bottom {
      position: absolute;
      bottom: rem(200px);

      @media screen and (max-width: 1100px) {
        bottom: rem(140px);
      }

      a {
        display: flex;
        color: $Tuna;
        font-weight: 600;
        font-size: rem(16px);
        align-items: center;
        margin-bottom: rem(20px);

        i {
          margin-right: rem(20px);
        }
      }
    }
    &__bottom {
      background: rgba($color: $Tuna, $alpha: 0.04);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 rem(100px);
      height: rem(184px);
      display: flex;
      align-items: center;

      @media screen and (max-width: 1280px) {
        padding: 0 rem(80px);
      }

      @media screen and (max-width: 1100px) {
        height: rem(130px);
        padding: 0 rem(50px);
      }

      .m-social-media {
        margin-top: 0;
        &__item {
          justify-content: flex-start;
        }

        .a-btn-icon {
          &:first-child {
            margin-left: 0px !important;
          }
        }
      }
    }
  }

  &--open {
    .o-sidebar {
      &__main {
        background: $white;
        border-color: rgba($color: $Tuna, $alpha: 0.3);
      }
      &__nav {
        transform: translateX(-100%);
        transition-delay: 0s;
      }
      &__product {
        transition-delay: 0.2s;
        transform: translateX(0);
      }
    }

    & ~ .a-shadow {
      z-index: 11;
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}
