$ {
    const type = input.type || "pdf";
    const title = input.title || "Doküman Adı"
}

<a href="#" target="_blank" class=`a-document a-document--${type}`>${title} <i class="a-icon icon-download"></i></a>