.m-card-foot-tariff {
  position: relative;
  display: flex;
  height: rem(400px);
  background: $SpringWood;
  margin-bottom: rem(30px);
  align-items: center;

  &:hover {
    background: #fff1dd;
  }


  @media screen and (max-width: 1024px) {
    height: rem(300px);
  }

  @media screen and (max-width: 990px) {
    height: auto;
    padding: rem(35px);
    flex-direction: column;
    margin-bottom: 0;
  }

  &__content {
    padding: rem(60px) rem(30px) rem(30px) rem(57px);
    width: 70%;

    @media screen and (max-width: 1366px) {
      padding-top: rem(90px);
      width: 60%;
      padding-left: rem(37px);
    }

    @media screen and (max-width: 1024px) {
      padding-top: rem(50px);
    }

    @media screen and (max-width: 990px) {
      padding: 0;
      width: 80%;
      order: 2;
    }

    h3 {
      font-size: rem(40px);
      color: $Tuna;
      margin-bottom: rem(12px);

      @media screen and (max-width: 1440px) {
        font-size: rem(36px);
      }

      @media screen and (max-width: 1366px) {
        font-size: rem(32px);
        margin-bottom: rem(20px);
      }

      @media screen and (max-width: 1280px) {
        font-size: rem(30px);
      }
    }

    p {
      font-size: rem(14px);
      font-weight: 300;
      color: $Tuna;

      @media screen and (max-width: 1024px) {
        font-size: rem(16px);
      }

      @media screen and (max-width: 990px) {
        font-size: rem(14px);
        font-weight: 400;
      }
    }

    a {
      margin-top: rem(40px);
      z-index: 2;
      font-size: rem(14px);
      color: $Tuna;
      display: inline-flex;
      align-items: center;
      position: relative;
      @media screen and (max-width: 1366px) {
        margin-top: rem(40px);
      }

      @media screen and (max-width: 990px) {
        margin-top: rem(20px);
      }

      &:before {
        content: "";
        background: $Tuna;
        height: 1px;
        width: 10px;
        position: absolute;
        right: -30px;
        transition: all 0.5s ease;
      }

      &:after {
        border: solid $Tuna;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        right: -30px;
        content: "";
        transform: rotate(-45deg);
        transition: all 0.5s ease;
      }

      &:hover {
        &:before {
          width: 40px;
          right: -60px;
        }

        &:after {
          right: -60px;
        }
      }
    }
  }

  &__image {
    @media screen and (max-width: 990px) {
      order: 1;
    }
    img {
      width: 100%;
    }
  }
}
