.m-slider {
  position: relative;

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    cursor: pointer;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 5;
    width: rem(60px);
    height: rem(60px);
    transition: all 0.5s ease;
    @extend .icon-arrow-right;

    &:before {
      font-family: "IconFont";
    }

    &.swiper-button-disabled,
    &.a-btn-icon--disabled {
      opacity: 0.25;
    }
  }

  [data-animation] {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}
