.a-tariff-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: rem(27px);
  bottom: rem(100px);
  transition: all 0.5s ease;
  overflow: hidden;
  width: rem(40px);
  height: rem(230px);

  @media screen and (max-width: 1024px) {
    display: none;
  }

  span {
    font-size: rem(14px);
    font-weight: 600;
    color: $black;
    position: absolute;
    transform: rotate(-90deg);
    display: inline-flex;
    width: rem(100px);
    bottom: rem(93px);
    left: rem(-30px);
  }

  .a-icon {
    position: absolute;
    bottom: rem(14px);
    transition: all 0.5s ease;
    left: rem(14px);
    &:before {
      font-size: rem(16px);
    }
    & + .a-icon {
      left: auto;
      right: -50px;

      &:before {
        font-size: rem(10px);
      }
    }
  }

  &:before {
    width: rem(40px);
    height: rem(40px);
    content: "";
    border: 1px solid #707070;
    border-radius: rem(30px);
    position: absolute;
    transition: all 0.5s ease;
    bottom: 0;
  }

  &:hover {
    &:before {
      height: rem(170px);
    }

    .a-icon {
      left: -50px;
      & + .a-icon {
        left: auto;
        right: rem(14px);
      }
    }
  }
}
