<div class="m-search-bar" data-component="SearchBar">
    <div class="m-search-bar__container">
        <h1>Ne aramıştınız?</h1>

        <Form>
            <h3>Ürünler, hizmetler ve daha fazlası için...</h3>
            <div class="m-search-bar__input">
                <button class="m-search-bar__icon"><i class="icon-search"></i></button>
                <input type="text" placeholder="anahtar kelime" required>
            </div>
        </Form>
    </div>

    <div class="m-search-bar__footer">
        <div class="m-search-bar-footer__social">
            <SocialMedia />
        </div>
        <div class="m-search-bar-footer__nav">
            <ul>
                <li><a href="#">Kişisel Verileri Koruma Kanunu</a></li>
                <li><a href="#">Gizlilik ve Güvenlik Politikası</a></li>
            </ul>
        </div>
    </div>
    <IconFont icon="close" class="js-close-search-bar" />
</div>