$ {
    let classes = ["m-card-product"];
    
    if (input.class) {
        classes.push(input.class);
    }

    if (input.type) {
        classes.push(`m-card-product--${input.type}`);
    }

    const image = input.image || "../../assets/images/dummy/product/product-1.png";
    const title = input.title || "ANTEP UNU";
    const text = input.text || "Baklavalık";
}
<a href="#" class=classes>
    <div class="m-card-product__head">
        <Image src=image />
    </div>

    <div class="m-card-product__body">
        <h3>${title}</h3>
        <h4>${text}</h4>
    </div>

    <div class="m-card-product__foot">
        <span>İncele</span>
    </div>
</a>