.o-looking {
  background: $white;
  padding: rem(75px) 0;
  position: relative;
  content-visibility: auto;

  h2 {
    font-size: rem(57px);
    text-align: center;
    line-height: rem(68px);
    margin-bottom: rem(14px);

    @media screen and (max-width: 1024px) {
      font-size: rem(44px);
    }
  }

  p {
    font-size: rem(20px);
    font-weight: 300;
    color: $black;
    text-align: center;

    @media screen and (max-width: 1024px) {
      font-size: rem(18px);
    }
  }

  &__list {
    margin: rem(65px) rem(-20px);
    display: flex;
    flex-wrap: wrap;

    .a-check-box {
      width: calc((100% / 8) - 40px);
      height: rem(130px);
      margin: rem(20px);

      @media screen and (max-width: 1366px) {
        width: calc((100% / 7) - 40px);
      }

      @media screen and (max-width: 1024px) {
        width: calc((100% / 5) - 40px);
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #looking-error {
    margin-top: rem(65px);
    margin-bottom: rem(10px);
    font-weight: 600;
    font-size: rem(16px);

    & + .o-looking__list {
      margin-top: 0;
    }
  }
}
