.o-looking {
  background: #f9faf8;
  padding: rem(75px) 0;
  position: relative;
  content-visibility: auto;
  z-index: 2;

  &--product {
    background: $white;
    padding-left: rem(76px);

    @media screen and (max-width: 1024px) {
      padding-left: 0;
    }

    .a-check-box {
      input[type="checkbox"] {
        & + label {
          background: $white !important;
        }
      }
    }
  }

  h2 {
    font-size: rem(57px);
    text-align: center;
    line-height: rem(68px);
    margin-bottom: rem(14px);

    @media screen and (max-width: 1024px) {
      font-size: rem(44px);
    }

    @media screen and (max-width: 768px) {
      font-size: rem(30px);
    }
  }

  p {
    font-size: rem(20px);
    font-weight: 300;
    color: $black;
    text-align: center;

    @media screen and (max-width: 1024px) {
      font-size: rem(18px);
    }
    @media screen and (max-width: 768px) {
      font-size: rem(17px);
    }
  }

  &__list {
    margin: rem(65px) rem(-20px);
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      margin: rem(45px) rem(-20px);
    }

    .a-check-box {
      width: calc((100% / 7) - 40px);
      height: rem(130px);
      margin: rem(20px);

      @media screen and (max-width: 1366px) {
        width: calc((100% / 6) - 40px);
      }

      @media screen and (max-width: 1024px) {
        width: calc((100% / 5) - 40px);
      }

      @media screen and (max-width: 768px) {
        width: calc((100% / 3) - 20px);
        margin: rem(10px);
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    .a-btn {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  #looking-error {
    margin-top: rem(65px);
    margin-bottom: rem(10px);
    font-weight: 600;
    font-size: rem(16px);

    @media screen and (max-width: 768px) {
      margin-top: rem(40px);
    }

    & + .o-looking__list {
      margin-top: 0;
    }
  }
}
