$ {
  let classes = ["m-form-group"];

  if ( input.class ) {
    classes = classes.concat( input.class );
  }
}
<div class=classes>
  <div class="m-form-group__child">
    <include(input.renderBody)/>
  </div>
</div>
