<div class="m-card-catalog">
    <div class="m-card-catalog__content">
        <h3>Tarifler</h3>
        <p>Anadolu’nun tahıl ve tohum mirasını sanata dönüştüren en değerli tarifleri incelemek için tıklayınız.</p>
        <Button icon="download">İndir</Button>
    </div>
    <div class="m-card-catalog__image">
        <Image src="../../assets/images/content/cards/catalog.png" />
    </div>
</div>