<div class="m-card-catalog">
    <div class="m-card-catalog__content">
        <h3>E-Katalog</h3>
        <p>Güncel ürün kataloğumuz için lütfen aşağıdaki butona tıklayınız.</p>
        <Button icon="download">İndir</Button>
    </div>
    <div class="m-card-catalog__image">
        <Image src="../../assets/images/content/cards/catalog.png" />
    </div>
</div>