.m-card-catalog {
  position: relative;
  display: flex;
  height: rem(400px);
  background: linear-gradient(121deg, #eff0ed 0%, #c6cebf 100%);
  margin-bottom: rem(30px);
  align-items: center;

  @media screen and (max-width: 1024px) {
    height: rem(300px);
  }

  @media screen and (max-width: 990px) {
    height: auto;
    padding: rem(35px);
    margin-bottom: 0;
  }

  &__content {
    padding: rem(60px) rem(30px) rem(30px) rem(57px);
    width: 70%;
    @media screen and (max-width: 1366px) {
      padding-top: rem(90px);
      padding-left: rem(37px);
    }

    @media screen and (max-width: 1024px) {
      padding-top: rem(50px);
    }

    @media screen and (max-width: 990px) {
      padding: 0;
    }

    h3 {
      font-size: rem(40px);
      color: $Tuna;
      margin-bottom: rem(12px);

      @media screen and (max-width: 1440px) {
        font-size: rem(36px);
      }

      @media screen and (max-width: 1366px) {
        font-size: rem(32px);
        margin-bottom: rem(20px);
      }

      @media screen and (max-width: 1280px) {
        font-size: rem(30px);
      }
    }

    p {
      font-size: rem(14px);
      font-weight: 300;
      color: $Tuna;

      @media screen and (max-width: 990px) {
        font-size: rem(14px);
        font-weight: 400;
      }
    }

    .a-btn {
      margin-top: rem(20px);
      transform: scale(.7);
      margin-left: rem(-20px);
    }
  }

  &__image {
    margin-top: rem(43px);
    img {
      width: 100%;
    }
  }
}
