$Green: #2B5135;
$Tuna: #35373C;
$DesertStorm: #F8F8F7;
$DesertStorm2: #F0F0EF;
$Alto: #DCDDDC;
$Mercury: #E7E7E7;
$Alabaster: #f7f7f7;
$Gallery: #EDEDED;
$Tumbleweed: #DDB480;
$Sage: #95A585;
$SpringWood: #F5F1EB;

$CodGray: #191616;
$CodGray2: #1C1C1C;
$Monza: #D9000D;
$Monza2: #CC000E;
$Silver: #BAB9B9;
$Silver2: #CCCCCC;
$Gray: #908E8E;
$Gray2: #939090;
$Gray3: #7F7F7F;
$WildSand: #F5F3F3;
$Woodsmoke: #181A1B;
$Alto2: #D0D0D0;
$SilverChalice: #A8A6A6;

$Matisse: #177797;
$Matisse2: #1a7291;
$Matisse-a1: rgba(23, 119, 151, 0.1);
$Matisse-a3: rgba(23, 119, 151, 0.3);
$Alabaster2: #FAFAFA;
$Tundora: #4c4c4c;
$Tundora-a3: rgba(76, 76, 76, 0.3);
$Tundora-a5: rgba(76, 76, 76, 0.5);
$Tundora-a04: rgba(66, 66, 66, 0.04);
$CuriousBlue: #21a4d0;
$JellyBean: #287f9f;
$Biscay: #1D3A78;
$Red: #DD2121;
$AzureRadiance: #007DF1;
$Emerald: #3FCA66;

$fruitsalad: #3FCA66;
$newyorkpink: #3FCA66;
$sanmarino: #3FCA66;
$buttercup: #3FCA66;

// blue shades
$cobalt1: #004f9e; // header-top
$cobalt2: #0057ab; // header-menu
$cobalt3: #0054a6; // header-drop-panel gradient top
$resolution: #27356f; // header-drop-panel gradient bottom
$cerulean-a05: rgba(44, 97, 199, 0.5); // buttons
$cerulean: #2855ac; // price texts, texts, tab border active
$cerulean2: #00b3e3; // price texts, texts, tab border active
$cerulean3: #04a9f4;
$cerulean4: #00b6f1;
$midnight: #253342; // texts, icons, button border
$midnight-a01: rgba(37, 51, 66, 0.1); // texts, icons, button border
$midnight-a02: rgba(37, 51, 66, 0.2); // texts, icons, button border
$midnight-a03: rgba(37, 51, 66, 0.3); // texts, icons, button border
$midnight-a04: rgba(37, 51, 66, 0.4); // texts, icons, button border
$midnight-a06: rgba(37, 51, 66, 0.6); // texts, icons, button border
$deepsky: #00bafc; // links
$alice: #ecf0f2; // borders, input bg, banner dots
$alice-a075: rgba(236, 240, 242, 0.75); // star point background
$pacific: #009ed8; // highlight
$iris: #01a9e0; // card title bg
$mariner: #3a6ccd; // button hover
$mariner2: #2c61c7; // button
$mariner2-a04: rgba(44, 97, 199, .5); // button hover
$astronaut: #263170; // button active
$sttropaz: #274FA3;
$sttropaz2: #234d9f;
$sttropaz2-a04: rgba(35,77,159, .4);
$ebony: #1d242d;
$ebony-a01: rgba(37, 51, 66, 0.09);
$ebony-a05: rgba(37, 51, 66, 0.5);
$ebony-clay: #23203d;
$sanjuan: #324d67;
$bright: #20cbfc;
$lochmara: #007ce0;
$blumine: #1f4590;
$cornflower: #3697c9;
$picton: #3baddf;
$toreabay: #0a4ba0;
$bayofmany: #2e3c88;
$shakespeare: #43c8cc;
$azure: #118eee;
$cornflower2: #1bb8f6;
$cello: #202A60;
$bay: #273a7d;
$denim: #116be1;

// yellow shades
$tangerine: #ffc900; // turkcell logo yellow, icons hover, banner texts, banner dots, turkcell'li olmak ister misiniz gradient left
$tangerine2-a09: rgba(255, 201, 0, 0.9); // incele button
$tangerine2-a04: rgba(255, 201, 0, 0.04); // incele button
$candlelight: #ffd917; // button hover
$candlelight-a09: rgba(255, 217, 23, .9); // button hover
$buttercup: #eeb116; // button active
$buttercup-a09: rgba(238, 177, 22, .9); // button active
$flamenco: #f5803d; // turkcell'li olmak ister misiniz gradient right
$selective: #ffb900;
$pizazz: #fe9400;
$outrageous: #ff5e3a;
$brightsun: #fed439;
$energyyellow: #fad961;
$turbo: #f7e702;
$sun: #fdb813;
$supernova: #ffcb05;

// gray shades
$midgray: #5f6b76; // icons, price texts, texts
$midgray-a04: rgba(95, 107, 118, 0.4); // price sup > span
$bali: #8e9fad; // icons, texts
$solitude-a03: rgba(223, 227, 236, 0.3);
$solitude-a05: rgba(223, 227, 236, 0.5);
$solitude: #dee3ed; // tab border
$chateau: #919fac; // card tariff name
$blackrussian: #1a1f29; // card title bg
$nightrider: #2f2f2f; // header black
$haze: #f7f9fa;
$mineshaft: #262121;
$mystic: #e2e8ec;
$mystic-a03: rgba(226, 232, 236, .3);
$aqua: #eaf0f3;
$dust: #979797;
$athensgray: #f5f7f9;
$geyser: #dce1e6;
$iron: #d4d5da;

$white: #ffffff;
$white-a01: rgba(255, 255, 255, 0.1);
$white-a025: rgba(255, 255, 255, 0.25);
$white-a04: rgba(255, 255, 255, 0.4);
$white-a06: rgba(255, 255, 255, 0.6);
$white-a08: rgba(255, 255, 255, 0.8);
$white-a09: rgba(255, 255, 255, 0.9);

$black: #000000;
$black-a00: rgba(0, 0, 0, 0.0);
$black-a01: rgba(0, 0, 0, 0.1);
$black-a014: rgba(0, 0, 0, 0.14);
$black-a03: rgba(0, 0, 0, 0.3);
$black-a05: rgba(0, 0, 0, 0.5);
$black-a005: rgba(0, 0, 0, 0.05);

// green shades
$spring: #00e96e;
$malachiteapprox: #00D665;
$malachiteapprox-a04: rgba(0, 214, 101, 0.04);

// red shades
$radical: #FF3D71;
$radical-a04: rgba(255, 61, 113, 0.04);
$ecstasy: #F76B1C;
$punch: #DB3236;

// purple shades
$frenchrose: #eb5685;
$violet: #7e30ea;
$honey-flower: #5b247a;


$color-map: (
  // blue shades
  cobalt1: #004f9e, // header-top
  cobalt2: #0057ab, // header-menu
  cobalt3: #0054a6, // header-drop-panel gradient top
  resolution: #27356f, // header-drop-panel gradient bottom
  cerulean-a05: rgba(44, 97, 199, 0.5), // buttons
  cerulean: #2855ac, // price texts, texts, tab border active
  cerulean2: #00b3e3, // price texts, texts, tab border active
  cerulean3: #04a9f4,
  cerulean4: #00b6f1,
  midnight: #253342, // texts, icons, button border
  midnight-a01: rgba(37, 51, 66, 0.1), // texts, icons, button border
  midnight-a02: rgba(37, 51, 66, 0.2), // texts, icons, button border
  midnight-a03: rgba(37, 51, 66, 0.3), // texts, icons, button border
  midnight-a04: rgba(37, 51, 66, 0.4), // texts, icons, button border
  midnight-a06: rgba(37, 51, 66, 0.6), // texts, icons, button border
  deepsky: #00bafc, // links
  alice: #ecf0f2, // borders, input bg, banner dots
  alice-a075: rgba(236, 240, 242, 0.75), // star point background
  pacific: #009ed8, // highlight
  iris: #01a9e0, // card title bg
  mariner: #3a6ccd, // button hover
  mariner2: #2c61c7, // button
  mariner2-a04: rgba(44, 97, 199, .5), // button hover
  astronaut: #263170, // button active
  sttropaz: #274FA3,
  sttropaz2: #234d9f,
  sttropaz2-a04: rgba(35,77,159, .4),
  ebony: #1d242d,
  ebony-a01: rgba(37, 51, 66, 0.09),
  ebony-a05: rgba(37, 51, 66, 0.5),
  ebony-clay: #23203d,
  sanjuan: #324d67,
  bright: #20cbfc,
  lochmara: #007ce0,
  blumine: #1f4590,
  cornflower: #3697c9,
  picton: #3baddf,
  toreabay: #0a4ba0,
  bayofmany: #2e3c88,
  shakespeare: #43c8cc,
  azure: #118eee,
  cornflower2: #1bb8f6,
  cello: #202A60,
  bay: #273a7d,
  denim: #116be1,

  // yellow shades
  tangerine: #ffc900, // turkcell logo yellow, icons hover, banner texts, banner dots, turkcell'li olmak ister misiniz gradient left
  tangerine2-a09: rgba(255, 201, 0, 0.9), // incele button
  tangerine2-a04: rgba(255, 201, 0, 0.04), // incele button
  candlelight: #ffd917, // button hover
  candlelight-a09: rgba(255, 217, 23, .9), // button hover
  buttercup: #eeb116, // button active
  buttercup-a09: rgba(238, 177, 22, .9), // button active
  flamenco: #f5803d, // turkcell'li olmak ister misiniz gradient right
  selective: #ffb900,
  pizazz: #fe9400,
  outrageous: #ff5e3a,
  brightsun: #fed439,
  energyyellow: #fad961,
  turbo: #f7e702,
  sun: #fdb813,
  supernova: #ffcb05,

  // gray shades
  midgray: #5f6b76, // icons, price texts, texts
  midgray-a04: rgba(95, 107, 118, 0.4), // price sup > span
  bali: #8e9fad, // icons, texts
  solitude-a03: rgba(223, 227, 236, 0.3),
  solitude: #dee3ed, // tab border
  chateau: #919fac, // card tariff name
  blackrussian: #1a1f29, // card title bg
  nightrider: #2f2f2f, // header black
  haze: #f7f9fa,
  mineshaft: #272727,
  mystic: #e2e8ec,
  mystic-a03: rgba(226, 232, 236, .3),
  aqua: #eaf0f3,
  dust: #979797,
  athensgray: #f5f7f9,
  geyser: #dce1e6,
  iron: #d4d5da,

  white: #ffffff,
  white-a01: rgba(255, 255, 255, 0.1),
  white-a025: rgba(255, 255, 255, 0.25),
  white-a04: rgba(255, 255, 255, 0.4),
  white-a05: rgba(255, 255, 255, 0.5),
  white-a06: rgba(255, 255, 255, 0.6),
  white-a08: rgba(255, 255, 255, 0.8),
  white-a09: rgba(255, 255, 255, 0.9),

  black: #000000,
  black-a014: rgba(0, 0, 0, 0.14),
  black-a01: rgba(0, 0, 0, 0.1),
  black-a00: rgba(0, 0, 0, 0.0),
  black-a05: rgba(0, 0, 0, 0.5),
  black-a085: rgba(0, 0, 0, 0.85),

  // green shades
  spring: #00e96e,
  malachiteapprox: #00D665,
  malachiteapprox-a04: rgba(0, 214, 101, 0.04),

  // red shades
  radical: #FF3D71,
  radical-a04: rgba(255, 61, 113, 0.04),
  punch: #DB3236,

  // purple shades
  frenchrose: #eb5685,
  violet: #7e30ea,
  honey-flower: #5b247a
);


@function theme($key) {
  @return map-get($color-map, $key);
}

@each $name, $value in $color-map {
  .color_#{$name} {
    color: #{$value} !important;
  }
  .bg_color_#{$name} {
    background-color: #{$value} !important;
  }
}
