.a-shadow {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.6);
  opacity: 0;
  transition: all 0.5s ease;
  left: 0;
  top:0;

  &--open {
    z-index: 97;
    opacity: 1;
  }
}


.head__arrow {
  position: absolute;
  bottom: rem(100px);
  cursor: pointer;

  @media screen and (min-width: 1441px) and (max-width: 1679px){
    bottom: rem(20px)
  }

  @media screen and (max-width: 1440px) {
    bottom: rem(50px);
  }

  @media screen and (max-width: 1280px) {
    display: none;
  }

  i {
    transform: rotate(90deg);
    color: #D9000D;

    &:before {
      font-size: rem(40px);

      @media screen and (max-width: 990px) {
        font-size: rem(24px);
      }
    }
  }
}