
%icon-arrow-down {
  content: "\EA01";
}
.icon-arrow-down {
  &::before {
    @extend %icon-arrow-down;
  }
}

%icon-arrow-left {
  content: "\EA02";
}
.icon-arrow-left {
  &::before {
    @extend %icon-arrow-left;
  }
}

%icon-arrow-right {
  content: "\EA03";
}
.icon-arrow-right {
  &::before {
    @extend %icon-arrow-right;
  }
}

%icon-arrow-up {
  content: "\EA04";
}
.icon-arrow-up {
  &::before {
    @extend %icon-arrow-up;
  }
}

%icon-bactery {
  content: "\EA05";
}
.icon-bactery {
  &::before {
    @extend %icon-bactery;
  }
}

%icon-blog {
  content: "\EA06";
}
.icon-blog {
  &::before {
    @extend %icon-blog;
  }
}

%icon-calendar {
  content: "\EA07";
}
.icon-calendar {
  &::before {
    @extend %icon-calendar;
  }
}

%icon-certificate {
  content: "\EA08";
}
.icon-certificate {
  &::before {
    @extend %icon-certificate;
  }
}

%icon-check {
  content: "\EA09";
}
.icon-check {
  &::before {
    @extend %icon-check;
  }
}

%icon-circle-arrow {
  content: "\EA0A";
}
.icon-circle-arrow {
  &::before {
    @extend %icon-circle-arrow;
  }
}

%icon-circle-error {
  content: "\EA0B";
}
.icon-circle-error {
  &::before {
    @extend %icon-circle-error;
  }
}

%icon-circle-success {
  content: "\EA0C";
}
.icon-circle-success {
  &::before {
    @extend %icon-circle-success;
  }
}

%icon-close {
  content: "\EA0D";
}
.icon-close {
  &::before {
    @extend %icon-close;
  }
}

%icon-download {
  content: "\EA0E";
}
.icon-download {
  &::before {
    @extend %icon-download;
  }
}

%icon-email {
  content: "\EA0F";
}
.icon-email {
  &::before {
    @extend %icon-email;
  }
}

%icon-enter {
  content: "\EA10";
}
.icon-enter {
  &::before {
    @extend %icon-enter;
  }
}

%icon-ev {
  content: "\EA11";
}
.icon-ev {
  &::before {
    @extend %icon-ev;
  }
}

%icon-facebook {
  content: "\EA12";
}
.icon-facebook {
  &::before {
    @extend %icon-facebook;
  }
}

%icon-fax {
  content: "\EA13";
}
.icon-fax {
  &::before {
    @extend %icon-fax;
  }
}

%icon-filter {
  content: "\EA14";
}
.icon-filter {
  &::before {
    @extend %icon-filter;
  }
}

%icon-firinci {
  content: "\EA15";
}
.icon-firinci {
  &::before {
    @extend %icon-firinci;
  }
}

%icon-form {
  content: "\EA16";
}
.icon-form {
  &::before {
    @extend %icon-form;
  }
}

%icon-history {
  content: "\EA17";
}
.icon-history {
  &::before {
    @extend %icon-history;
  }
}

%icon-instagram {
  content: "\EA18";
}
.icon-instagram {
  &::before {
    @extend %icon-instagram;
  }
}

%icon-language {
  content: "\EA19";
}
.icon-language {
  &::before {
    @extend %icon-language;
  }
}

%icon-linkedin {
  content: "\EA1A";
}
.icon-linkedin {
  &::before {
    @extend %icon-linkedin;
  }
}

%icon-list {
  content: "\EA1B";
}
.icon-list {
  &::before {
    @extend %icon-list;
  }
}

%icon-logo {
  content: "\EA1C";
}
.icon-logo {
  &::before {
    @extend %icon-logo;
  }
}

%icon-marka {
  content: "\EA1D";
}
.icon-marka {
  &::before {
    @extend %icon-marka;
  }
}

%icon-more {
  content: "\EA1E";
}
.icon-more {
  &::before {
    @extend %icon-more;
  }
}

%icon-ours {
  content: "\EA1F";
}
.icon-ours {
  &::before {
    @extend %icon-ours;
  }
}

%icon-pdf {
  content: "\EA20";
}
.icon-pdf {
  &::before {
    @extend %icon-pdf;
  }
}

%icon-phone {
  content: "\EA21";
}
.icon-phone {
  &::before {
    @extend %icon-phone;
  }
}

%icon-pill {
  content: "\EA22";
}
.icon-pill {
  &::before {
    @extend %icon-pill;
  }
}

%icon-play {
  content: "\EA23";
}
.icon-play {
  &::before {
    @extend %icon-play;
  }
}

%icon-product {
  content: "\EA24";
}
.icon-product {
  &::before {
    @extend %icon-product;
  }
}

%icon-right {
  content: "\EA25";
}
.icon-right {
  &::before {
    @extend %icon-right;
  }
}

%icon-search {
  content: "\EA26";
}
.icon-search {
  &::before {
    @extend %icon-search;
  }
}

%icon-shopping {
  content: "\EA27";
}
.icon-shopping {
  &::before {
    @extend %icon-shopping;
  }
}

%icon-sun {
  content: "\EA28";
}
.icon-sun {
  &::before {
    @extend %icon-sun;
  }
}

%icon-sustainability {
  content: "\EA29";
}
.icon-sustainability {
  &::before {
    @extend %icon-sustainability;
  }
}

%icon-twitter {
  content: "\EA2A";
}
.icon-twitter {
  &::before {
    @extend %icon-twitter;
  }
}

%icon-upload {
  content: "\EA2B";
}
.icon-upload {
  &::before {
    @extend %icon-upload;
  }
}

%icon-usta {
  content: "\EA2C";
}
.icon-usta {
  &::before {
    @extend %icon-usta;
  }
}

%icon-word {
  content: "\EA2D";
}
.icon-word {
  &::before {
    @extend %icon-word;
  }
}

%icon-youtube {
  content: "\EA2E";
}
.icon-youtube {
  &::before {
    @extend %icon-youtube;
  }
}

%icon-zanaatkar {
  content: "\EA2F";
}
.icon-zanaatkar {
  &::before {
    @extend %icon-zanaatkar;
  }
}

